@charset "UTF-8";
/* CSS Document */

@import "fonts.css";
@import "font-awesome.css";
@import "jquery.ma.infinitypush.css";
@import "highslide-gallery.css";
@import "colorbox.css";
@import "sumoselect.css";



*						{ margin:0px; padding:0px;}
p 						{ margin-bottom:15px; line-height:25px; }
b, .bold				{ font-weight:bold; }
sup						{ font-size:7px; }
.notification			{ cursor:pointer; }

a:link 					{ text-decoration:none; color:#00aef0; }
a:visited 				{ text-decoration:none; color:#00aef0; }
a:hover 				{ text-decoration:none; color:#5aba47; }
a:active 				{ text-decoration:none; color:#000; }
a 						{ outline:none !important; }
a img					{ border:none; }

.sosmed a[title=facebook] i		{ color:#4b6ea5; }
.sosmed a[title=twitter] i		{ color:#33b7e7; }
.sosmed a[title=instagram] i	{ color:#a07463; }
.sosmed a[title=youtube] i		{ color:#d64237; }
.sosmed a[title=googlePlus] i	{ color:#e45f44; }
.sosmed a i						{ -moz-transition:0.3s; -webkit-transition:0.3s; transition:0.3s; }
.sosmed a:hover i				{ color:#000; }

hr						{ color:none; clear:both; float:none; width:100%; height:1px; margin:0 0 15px 0; border:none; 
						  border-bottom:1px solid rgba(0,0,0,0.1); box-shadow:0 1px rgba(255,255,255,0.4); }
.clear,
.clearBoth				{ clear:both; margin:0 auto; padding:0px; }


.ul_style				{ margin:0 0 15px 25px; padding:0; list-style:outside; line-height:25px; }
.ul_style.none			{ list-style:none; }
.ul_style.decimal		{ list-style:decimal outside; }
.ul_style.lower-alpha	{ list-style:lower-alpha outside; }
.ul_style.circle		{ list-style:circle outside; }
.ul_style.square		{ list-style:square outside; }
.ul_style li			{ margin-bottom:px; }

			



/*--------------------------------------------------------------{ Heading }-------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 { color:#555; font-family: 'Lato', sans-serif; font-weight: 300 !important; font-style:normal; margin:0 0 10px 0; padding:0; }
h1 { font-size:45px; }
h2 { font-size:30px; }
h3 { font-size:25px; }
h4 { font-size:20px; }
h5 { font-size:18px; }
h6 { font-size:16px; }




/*---------------------------------------------------------------{ layout }--------------------------------------------------------------------------*/
header,nav,section,article,
aside,details,figcaption,div,
figure,summary,footer	{ display:block; margin:0; padding:0; }
audio,canvas,video		{ display:inline-block; }
html					{ margin:0; padding:0; }
body					{ margin:0; padding:0; width:100%; height:100%; font-family:Open Sans, Arial; font-size:15px; font-weight:normal; 
						  color:#555; background:#fff; }
#wrapper				{ position: relative; }
						  
.section				{ width: 100%; /*float: left;*/ }
.container				{  }
.container ol,
.container ul			{ margin:0 0 15px 25px; line-height:25px; }
.clearfix:after 		{ content: ""; display: block; height: 0; clear: both; visibility: hidden; }

.wrap					{ margin:auto; max-width:1200px; position:relative; }
.wrap100				{ margin:auto; width:90%; position:relative; background:; }
.box					{  }

.sidebar				{ float:left; position:relative; width:320px; z-index:2; }
.contentBox				{ min-height:400px; overflow:hidden; background:; }
.contentBox ul,
.contentBox ol			{ margin:0 0 15px 25px; line-height:25px; }

ul.side_link			{ margin:0; padding:0; line-height:normal; list-style:none; }
ul.side_link li a		{ display:block; padding:8px 5px; color:#555; -moz-transition:0.3s; -webkit-transition:0.3s; transition:0.3s; }
ul.side_link li a:hover	{ padding-left:15px; color:#133895; background:rgba(0,0,0,0.05); }


ul.side_menu			{ margin:0 0 10px 0; padding:0; line-height:normal; list-style:none; }
ul.side_menu li			{ font-weight:bold; border-bottom:1px solid rgba(0,0,0,0.1); }
ul.side_menu li a		{ display:block; padding:10px; color:rgba(0,0,0,0.7); background:; -moz-transition:0.3s; -webkit-transition:0.3s; transition:0.3s; }
ul.side_menu li:hover a	{ background:#eee; }

.side_tags				{ line-height:24px; }
.side_tags span			{ position:relative; display:inline-block; margin:5px; padding:0 10px; color:#fff; font-size:14px; background:#555; border-radius:0 3px 3px 0; }
.side_tags span:before	{ content:''; position:absolute; left:-24px; top:0; width:0; height:0; border:12px solid transparent; border-right-color:#555; }
.side_tags span:after	{ content:''; position:absolute; left:-3px; top:10px; width:6px; height:6px; background:#fff; border-radius:50%; }


.sidebar .sosmed	span{ display:inline-block; }
.sidebar .sosmed a		{ display:block; width:30px; text-align:center; font-size:18px; border-radius:3px; -moz-transition:.3s; -webkit-transition:.3s; transition:.3s; }
.sidebar .sosmed a i	{ color:rgba(255,255,255,1); line-height:30px; }
.sidebar .sosmed a[title=facebook]		{ background:#4b6ea5; }
.sidebar .sosmed a[title=twitter]		{ background:#33b7e7; }
.sidebar .sosmed a[title=instagram]		{ background:#a07463; }
.sidebar .sosmed a[title=youtube]		{ background:#d64237; }
.sidebar .sosmed a[title=googlePlus]	{ background:#e45f44; }
.sidebar .sosmed a:hover		{ background:#000; }



/*----------------------------------------------------------------{ header }-------------------------------------------------------------------------*/
#header					{ position:relative; background:#fff; z-index:101; }
#header_top				{ position:relative; padding:5px 0; font-size:12px; color:rgba(255,255,255,0.8); background:#00aef0; }
						  
#header_top	.leftCont	{ float:left; background:; }
#header_top	.leftCont span		{ display:inline-block; padding:0 10px; -moz-transition:0.3s; -webkit-transition:0.3s; transition:0.3s; }
#header_top	.leftCont span:hover{ color:#fff; }
#header_top	.leftCont span:nth-of-type(1)	{ padding-left:0; border-right:1px solid rgba(0,0,0,0.2); box-shadow:1px 0 rgba(255,255,255,0.2); }

#header_top	.rightCont	{ float:right; text-align:right; background:; }
#header_top	.rightCont span	{ display:inline-block; padding:0 10px; -moz-transition:0.3s; -webkit-transition:0.3s; transition:0.3s; }
#header_top	.rightCont span:first-child { border-right:1px solid rgba(0,0,0,0.2); box-shadow:1px 0 rgba(255,255,255,0.2); }
#header_top	.rightCont span:last-child	{ /*padding-right:0;*/ }
#header_top	.rightCont a		{ color:rgba(255,255,255,0.8); -moz-transition:0.3s; -webkit-transition:0.3s; transition:0.3s; }
#header_top	.rightCont a:hover	{ color:#fff; }
#header_top .rightCont i		{ font-size:13px; }
#header_top .rightCont .register{ background:rgba(255,255,255,0.7); border-radius:3px; }
#header_top .rightCont .register a		{ color:#152b75; }
#header_top .rightCont .register a:hover{ color:#fff; }
#header_top .sosmed		{ position:relative; color:; border-right:1px solid rgba(0,0,0,0.2); box-shadow:1px 0 rgba(255,255,255,0.2); }
#header_top .sosmed	i	{ margin:0 2px; font-size:18px; line-height:13px; }

.sticker				{ left:0; right:0; }

.logo					{ position:relative; float:left; padding:10px 0 10px 0; width:; z-index:1; background:; overflow:hidden; -moz-transition:0.3s; -webkit-transition:0.3s; transition:0.3s; }
.logo a					{ display: block; color:#00aef0; -moz-transition:0.3s; -webkit-transition:0.3s; transition:0.3s; }
.logo a:hover			{ color:#5aba47; }
.logo img				{ max-height:70px; opacity:1; -moz-transition:0.3s; -webkit-transition:0.3s; transition:0.3s; }
.logo a:before			{ content:''; position:absolute; left:0; top:0; bottom:0; width:0px; box-shadow:0 0 10px 5px #fff; -moz-transition:1s; -webkit-transition:1s; transition:1s; 
						  -moz-transform:rotate(20deg) translateX(-30px); -webkit-transform:rotate(20deg) translateX(-30px); transform:rotate(20deg) translateX(-30px); }
.logo:hover a:before	{ -moz-transform:rotate(20deg) translateX(150px); -webkit-transform:rotate(20deg) translateX(150px); transform:rotate(20deg) translateX(150px); }
.logo:active img		{ -moz-transform:scale(0.9); -webkit-transform:scale(0.9); transform:scale(0.9); }

.logo a.logo1			{ display:block; }
.logo a.logo2			{ display:none; }


ul.head_menu			{ float:right; margin:0; padding:0; list-style:none; line-height:normal; font-family:; font-weight:bold; }
ul.head_menu li			{ float:left; padding:20px 0; position:relative; }
ul.head_menu li a		{ display:block; padding:0 20px 0 45px; line-height:30px; background:#eee; -moz-transition:0.3s; -webkit-transition:0.3s; transition:0.3s; }
ul.head_menu li.member a{ background:url(../img/frontend/user_icon.png) no-repeat 15px center; }
ul.head_menu li.getapp a{ background:url(../img/frontend/getapp_icon.png) no-repeat 15px center; border-left:1px solid #ddd; border-right:1px solid #ddd; }
ul.head_menu li.cart a	{ background:url(../img/frontend/cart_icon.png) no-repeat 15px center; }
ul.head_menu li.cart a span	{ position:absolute; left:13px; bottom:15px; padding:1px; min-width:13px; height:; line-height:13px; font-size:11px; color:rgba(255,255,255,1); text-align:center; background:#42d23b; border-radius:50%; 
							  box-shadow:0 0 0 2px #fff; }
ul.head_menu li a:hover	{ color:#42d23b; background-position:20px center; }

ul.head_menu li.cart ul			{ position:absolute; top:100%; right:0; margin:0; padding:0; width:250px; list-style:none; line-height:normal; font-size:13px; font-weight:normal; background:#eee;
								  -moz-transition:0.3s; -webkit-transition:0.3s; transition:0.3s; visibility:hidden; -ms-filter:"alpha(opacity=0)"; filter:alpha(opacity=0); opacity:0; 
								  -moz-transform:translateY(50px); -webkit-transform:translateY(50px); transform:translateX(-50px); }
ul.head_menu li.cart:hover ul	{ visibility:visible; -ms-filter:"alpha(opacity=100)"; filter:alpha(opacity=100); opacity:1; -moz-transform:translateY(0); -webkit-transform:translateY(0); transform:translateX(0); }
ul.head_menu li.cart ul:hover	{ box-shadow:0 3px 3px rgba(0,0,0,0.2); }
ul.head_menu li.cart ul li		{ float:none; margin-bottom:1px; padding:12px 10px; background:#fff; }
ul.head_menu li.cart ul li a	{ display:inline; padding:0; line-height:normal; color:rgba(0,0,0,0.7); background:none; }
ul.head_menu li.cart ul li a:hover	{ text-decoration:underline; }
ul.head_menu li.cart ul li .img		{ float:left; margin-right:10px; width:40px; height:40px; background:; }
ul.head_menu li.cart ul li .img img	{ width:100%; height:100%; }
ul.head_menu li.cart ul li .desc	{ max-height:40px; overflow:hidden; background:; }
ul.head_menu li.cart ul li .desc h5	{ margin:0; font-size:16px; }
ul.head_menu li.cart ul li .desc p	{ margin:0; line-height:normal; }
ul.head_menu li.cart ul li .button	{ display:block; }
ul.head_menu li.cart ul li .button a{ display:block; margin:5px; padding:5px 10px; color:#fff; background:#42b549; border-radius:3px; text-decoration:none; }
ul.head_menu li.cart ul li .button a:hover{ background:#55c849; }
ul.head_menu li.cart ul li .button a:active{ background:#000; }




/*--------------------------------------------------------------{ navigation }-----------------------------------------------------------------------*/
#navigation				{ position:relative; z-index:100; border-top:1px solid rgba(0,0,0,0.1); border-bottom:1px solid rgba(0,0,0,0.2); background:#71bf44; /*background:-moz-linear-gradient(top,#fafafa 30%,#ddd 70%);
						  background:-webkit-linear-gradient(top,#fafafa 30%,#ddd 70%);*/ box-shadow:0 1px #fff, 0 3px 5px rgba(0,0,0,0.5); }

#primary-navigation,
.ma-infinitypush-wrapper{ display:none; }
#primary-navigation h3	{ margin:0; padding:10px; font-size:18px; color:rgba(255,255,255,1); color:#f7941e; border-top:1px solid rgba(0,0,0,0.1); text-transform:uppercase; 
						  background:-moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.1)); background:-webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.1));}

#menu					{ position:relative; margin:0; padding:0; font-family:Open Sans, Arial; text-transform:uppercase; background:; border-left:1px solid rgba(0,0,0,0.1); }
#menu li				{ position:relative; float:left; display:inline-block; padding:0; line-height:40px; list-style:none; font-size:14px; font-weight:normal; color:#514f4c; border-right:1px solid rgba(0,0,0,0.1); }
#menu li a				{ display:block; margin:0; padding:0 40px; color:#fff; color:rgba(255,255,255,1); text-decoration:none; -moz-transition:0.3s; -webkit-transition:0.3s; transition:.3s; }
#menu li:hover a		{ color:rgba(255,255,255,0.8); background:rgba(255,255,255,0.2); }
#menu li a:active		{ color:rgba(0,0,0,1); }
#menu li.active a		{ color:rgba(255,255,255,0.8); background:rgba(255,255,255,0.2); }

#menu li ul				{ position:absolute; left:0; top:40px; padding:0 0 1px 0; width:230px; text-transform:none; font-family:Arial; z-index:100; }
#menu li ul li			{ float:none; position:relative; display:block; margin:0; padding:0; font-size:12px; text-align:left; font-weight:bold; border:none; border-bottom:1px solid rgba(0,0,0,0.1); background:#fff /*rgba(19,56,148,0.95)*/; }
#menu li ul li:hover	{ /*background:rgba(255,255,255,0.05);*/ }
#menu li.active ul li a,
#menu li:hover ul li a,
#menu li ul li a		{ color:#555; color:rgba(0,0,0,0.6); padding:0 0 0 20px; text-shadow:inherit; line-height:40px; background:none; box-shadow:none; }
#menu li ul li:hover a	{ color:#5aba47; padding:0 0 0 30px; }

/*#menu li ul:before		{ content:''; position:absolute; left:25px; top:-20px; width:0; height:0; border:10px solid transparent; border-bottom-color:#1d4288; }*/
#menu li ul:after		{ content:''; position:absolute; left:0; bottom:-5px; width:100%; height:5px; background:#5aba47; border-radius:0 0 5px 5px; }

#menu li ul.cnct		{ left:auto; right:0; }
#menu li ul.cnct:before	{ left:auto; right:30px; }
						  
#menu li ul li:hover ul li a		{ color:rgba(0,0,0,0.6); padding:0 0 0 30px; }
#menu li ul li:hover ul li:hover a	{ color:#5aba47; padding:0 0 0 40px; }
#menu li ul ul			{ left:230px; top:0px; padding:0 0 0 5px; box-shadow:inset 5px 0 #5aba47, 3px 3px 5px rgba(0,0,0,0.5); border-radius:0 5px 5px 0; }
#menu li ul ul:before	{ left:-18px; top:3px; border-bottom-color:transparent; border-right-color:#133895; }
#menu li ul ul:after	{ bottom:-6px; width:100%; height:5px; display:none; }

#menu li:hover ul:after	{ opacity:0; -moz-animation:sub_after 0.3s 0.3s linear forwards; -webkit-animation:sub_after 0.3s 0.3s linear forwards; 
						  animation:sub_after 0.3s 0.3s linear forwards;}
@-moz-keyframes sub_after 		{ 0% { bottom:-20px; opacity:0; } 100% { bottom:-5px; opacity:1; } }
@-webkit-keyframes sub_after 	{ 0% { bottom:-20px; opacity:0; } 100% { bottom:-5px; opacity:1; } }
@keyframes sub_after 			{ 0% { bottom:-20px; opacity:0; } 100% { bottom:-5px; opacity:1; } }



.slide_effect ul,
.slide_effect li>div,
.slide_effect .menu_dropdown	{ display:block!important; visibility:hidden; -ms-filter:"alpha(opacity=0)"; filter:alpha(opacity=0); opacity:0; 
						  -webkit-transform:translate3d(0,50px,0); -moz-transform:translateY(50px); -o-transform:translateY(50px); 
						  -ms-transform:translateY(50px); transform:translateY(50px); 
						  -webkit-transition:visibility 0s linear .2s,-webkit-transform .2s linear,opacity .2s linear; 
						  -moz-transition:visibility 0s linear .2s,-moz-transform .2s linear,opacity .2s linear; 
						  -o-transition:visibility 0s linear .2s,-o-transform .2s linear,opacity .2s linear; 
						  -ms-transition:visibility 0s linear .2s,-ms-transform .2s linear,opacity .2s linear; 
						  transition:visibility 0s linear .2s,transform .2s linear,opacity .2s linear; }
.slide_effect li:hover>ul,
.slide_effect li:hover>div,
.slide_effect:hover .menu_dropdown	{ visibility:visible; -ms-filter:"alpha(opacity=100)"; filter:alpha(opacity=100); opacity:1; 
							  -webkit-transform:translate3d(0,0,0); -moz-transform:translateY(0); -o-transform:translateY(0); 
							  -ms-transform:translateY(0); transform:translateY(0); 
							  -webkit-transition-delay:0s; -moz-transition-delay:0s; -o-transition-delay:0s; -ms-transition-delay:0s; 
							  transition-delay:0s; }

.submenu				{ -webkit-perspective: 400px; -moz-perspective: 400px; -ms-perspective: 400px; -o-perspective: 400px; perspective: 400px; }
.submenu li				{ opacity: 0; -webkit-transform: rotateX(90deg) translateY(50px); -moz-transform: rotateX(90deg) translateY(50px); -ms-transform: rotateX(90deg) translateY(50px); -o-transform: rotateX(90deg) translateY(50px); 
						  transform: rotateX(90deg) translateY(50px);
						  -webkit-transition: opacity .4s, -webkit-transform .5s; -moz-transition: opacity .4s, -moz-transform .5s; -ms-transition: opacity .4s, -ms-transform .5s; -o-transition: opacity .4s, -o-transform .5s;
						  transition: opacity .4s, transform .5s; }
#menu li:hover .submenu li	{ opacity: 1; -webkit-transform: rotateX(0) translateY(0); -moz-transform: rotateX(0) translateY(0); -ms-transform: rotateX(0) translateY(0); -o-transform: rotateX(0) translateY(0); transform: rotateX(0) translateY(0); }

#menu li:hover .submenu li:nth-child(1) { -webkit-transition-delay: 0s; -moz-transition-delay: 0s; -ms-transition-delay: 0s; -o-transition-delay: 0s; transition-delay: 0s; }
#menu li:hover .submenu li:nth-child(2) { -webkit-transition-delay: 50ms; -moz-transition-delay: 50ms; -ms-transition-delay: 50ms; -o-transition-delay: 50ms; transition-delay: 50ms; }
#menu li:hover .submenu li:nth-child(3) { -webkit-transition-delay: 100ms; -moz-transition-delay: 100ms; -ms-transition-delay: 100ms; -o-transition-delay: 100ms; transition-delay: 100ms; }
#menu li:hover .submenu li:nth-child(4) { -webkit-transition-delay: 150ms; -moz-transition-delay: 150ms; -ms-transition-delay: 150ms; -o-transition-delay: 150ms; transition-delay: 150ms; }
#menu li:hover .submenu li:nth-child(5) { -webkit-transition-delay: 200ms; -moz-transition-delay: 200ms; -ms-transition-delay: 200ms; -o-transition-delay: 200ms; transition-delay: 200ms; }
#menu li:hover .submenu li:nth-child(6) { -webkit-transition-delay: 250ms; -moz-transition-delay: 250ms; -ms-transition-delay: 250ms; -o-transition-delay: 250ms; transition-delay: 250ms; }
#menu li:hover .submenu li:nth-child(7) { -webkit-transition-delay: 300ms; -moz-transition-delay: 300ms; -ms-transition-delay: 300ms; -o-transition-delay: 300ms; transition-delay: 300ms; }
#menu li:hover .submenu li:nth-child(8) { -webkit-transition-delay: 350ms; -moz-transition-delay: 350ms; -ms-transition-delay: 350ms; -o-transition-delay: 350ms; transition-delay: 350ms; }

.submenu li:nth-child(1) { -webkit-transition-delay: 350ms; -moz-transition-delay: 350ms; -ms-transition-delay: 350ms; -o-transition-delay: 350ms; transition-delay: 350ms; }
.submenu li:nth-child(2) { -webkit-transition-delay: 300ms; -moz-transition-delay: 300ms; -ms-transition-delay: 300ms; -o-transition-delay: 300ms; transition-delay: 300ms; }
.submenu li:nth-child(3) { -webkit-transition-delay: 250ms; -moz-transition-delay: 250ms; -ms-transition-delay: 250ms; -o-transition-delay: 250ms; transition-delay: 250ms; }
.submenu li:nth-child(4) { -webkit-transition-delay: 200ms; -moz-transition-delay: 200ms; -ms-transition-delay: 200ms; -o-transition-delay: 200ms; transition-delay: 200ms; }
.submenu li:nth-child(5) { -webkit-transition-delay: 150ms; -moz-transition-delay: 150ms; -ms-transition-delay: 150ms; -o-transition-delay: 150ms; transition-delay: 150ms; }
.submenu li:nth-child(6) { -webkit-transition-delay: 100ms; -moz-transition-delay: 100ms; -ms-transition-delay: 100ms; -o-transition-delay: 100ms; transition-delay: 100ms; }
.submenu li:nth-child(7) { -webkit-transition-delay: 50ms; -moz-transition-delay: 50ms; -ms-transition-delay: 50ms; -o-transition-delay: 50ms; transition-delay: 50ms; }
.submenu li:nth-child(8) { -webkit-transition-delay: 0s; -moz-transition-delay: 0s; -ms-transition-delay: 0s; -o-transition-delay: 0s; transition-delay: 0s; }


#menu li>div			{ position:absolute; left:0; top:40px; padding:10px; line-height:normal; text-transform:none; border-radius:0 0 5px 5px; 
						  color:#555; text-shadow:none; text-align:left; font-family:Arial; font-size:13px; background-color:#fff; z-index:100; 
						  box-shadow:0 2px 3px rgba(0,0,0,0.3); border-top:5px solid #4e8126; border-bottom:5px solid #133895; }
#menu li ol li			{ font-size:12px; font-weight:; border:none; }
#menu li.active ol li a,
#menu li:hover ol li a,
#menu li ol li a		{ padding:0; background:none; line-height:normal; }
#menu li ol li:hover a	{ padding-left:10px; }
#menu li h6 a,
#menu li:hover h6 a		{ padding:0; background:none; line-height:normal; }

#menu li>div:before		{ content:''; position:absolute; left:50%; top:-23px; margin-left:-20px; width:0; height:0;
						  border:10px solid transparent; border-bottom-color:#4e8126; }

#menu .cols1,
#menu .cols2,
#menu .cols3,
#menu .cols4,
#menu .cols5			{ position:absolute; display:none; /*overflow:auto;*/ }

#menu .cols1,
#menu .col1				{ width:188px; }
#menu .cols2,
#menu .col2				{ width:376px; }
#menu .cols3,
#menu .col3				{ width:564px; }
#menu .cols4,
#menu .col4				{ width:752px; }
#menu .cols5,
#menu .col5				{ width:940px; }

#menu .col1,
#menu .col2,
#menu .col3,
#menu .col4,
#menu .col5				{ float:left; }

#menu ol				{ margin:7px 10px; padding:0; list-style:none; line-height:normal; }
#menu ol li				{ float:none; display:block; margin:0; padding:0; text-align:left; line-height:normal; text-shadow:none; }
#menu ol li a			{ margin:5px 0; color:#888; -moz-transition:0.2s; -webkit-transition:0.2s; transition:0.2s; }
#menu ol li a:hover		{ padding-left:10px; color:#133895; }

#menu h5				{ color:#133895; font-size:13px; font-weight:; margin:10px; padding-bottom:5px; text-transform:uppercase; 
						  border-bottom:1px solid #ddd; }
#menu h6				{ font-size:12px; color:#555; font-weight:normal; margin:10px 10px 0 0; padding:10px 0 0 10px; border-top:1px solid #e1e1e1; }
#menu h6 a				{ color:#888; text-decoration:none; }
#menu h6 a:hover		{ color:#133895; text-decoration:underline; }



/*------------------------------------------------------------{ menu_merchant }----------------------------------------------------------------------*/
.menu_merchant			{ display:inline-block; background:; }
.menu_merchant .box		{ float:left; position:relative; margin:0; padding:0 20px; border-bottom:1px solid rgba(0,0,0,0.2); -moz-transition:0.3s; -webkit-transition:0.3s; transition:0.3s; }
.menu_merchant .box .icon		{ display:inline-block; margin:0; padding:0; width:80px; height:80px; overflow:hidden; background:#fff; border-radius:50%; border:5px solid #fff; box-shadow:0 2px 2px rgba(0,0,0,0.07); 
								  -moz-transition:0.3s; -webkit-transition:0.3s; transition:0.3s; }
.menu_merchant .box:hover .icon	{ box-shadow:0 2px 5px rgba(0,0,0,0.1); }
.menu_merchant .box .icon img	{ width:100%; height:100%; }
.menu_merchant .box .title		{ margin:0 0 10px; padding:5px 0; font-size:13px; }
.menu_merchant .box:before		{ content:''; position:absolute; left:50%; bottom:-4px; margin-left:-4px; width:8px; height:8px; background:#aaa; border-radius:50%; box-shadow:0 0 0 2px #fff, 0 0 0 3px rgba(0,0,0,0.3); 
								  -moz-transition:0.3s; -webkit-transition:0.3s; transition:0.3s; }
.menu_merchant .box:nth-of-type(1):hover:before	{ background:#ed1c24; }
.menu_merchant .box:nth-of-type(1):hover		{ border-color:#ed1c24; }
.menu_merchant .box:nth-of-type(2):hover:before	{ background:#5aba47; }
.menu_merchant .box:nth-of-type(2):hover		{ border-color:#5aba47; }
.menu_merchant .box:nth-of-type(3):hover:before	{ background:#f7941e; }
.menu_merchant .box:nth-of-type(3):hover		{ border-color:#f7941e; }
.menu_merchant .box:nth-of-type(4):hover:before	{ background:#5aba47; }
.menu_merchant .box:nth-of-type(4):hover		{ border-color:#5aba47; }
.menu_merchant .box:nth-of-type(5):hover:before	{ background:#f7941e; }
.menu_merchant .box:nth-of-type(5):hover		{ border-color:#f7941e; }
.menu_merchant .box:nth-of-type(6):hover:before	{ background:#ed1c24; }
.menu_merchant .box:nth-of-type(6):hover		{ border-color:#ed1c24; }





/*--------------------------------------------------------------{ animation }------------------------------------------------------------------------*/
#animation				{ position:relative; /*height:100vh; background:url(../img/frontend/animation_bg.jpg); background-size:cover;*/ }

#banner					{ position:relative; height:; text-align:center; }
#banner .wrap,
#banner .wrap100		{ padding:270px 0 150px 0; /*text-shadow:0 2px 3px rgba(0,0,0,0.31);*/ background:; }
#banner h1				{ margin:0; font-size:8vh; color:rgba(255,255,255,1); font-weight:bold; text-transform:uppercase; }
#banner h2				{ margin:0; font-size:3.8vh; color:rgba(255,255,255,1); font-family:"Times New Roman", Times, serif; font-style:italic; }
#banner img				{ width:100%; height:100%; }
.banner					{ background-color:#eee; background-repeat:no-repeat; background-position:center 0; background-size:cover; 
						  background-attachment:; }


.parallax-block{position:fixed;top:0;left:0;overflow:hidden;z-index:-1;max-width:none!important;max-height:none!important;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;-webkit-perspective:1000px;-moz-perspective:1000px;-ms-perspective:1000px;-o-perspective:1000px;perspective:1000px;}.parallax-image{position:absolute;top:0;left:0;max-width:none!important;max-height:none!important;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;-webkit-perspective:1000px;-moz-perspective:1000px;-ms-perspective:1000px;-o-perspective:1000px;perspective:1000px;}



/*-------------------------------------------------------------{ hot_deals_from }----------------------------------------------------------------------*/
.hot_deals_from .box img	{ width:100%; height:300px; }
.hot_deals_from .box img[alt=img_400x150]	{ height:150px; }

@media(max-width: 767px)	{
.hot_deals_from .box img[alt=img_400x150],
.hot_deals_from .box img	{ height:auto; }
}




/*----------------------------------------------------------------{ merchant }------------------------------------------------------------------------*/
.merchant_cont				{ }
.merchant_cont .box			{ position:relative; height:220px; color:rgba(255,255,255,0.8); background-color:#ddd; background-repeat:no-repeat; background-position:center center; background-size:cover; }
.merchant_cont .box .cover	{ position:absolute; left:0; right:0; bottom:0; padding:20px 10px 10px 10px; /*overflow:hidden;*/ background:-moz-linear-gradient(bottom,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0) 100%); 
							  background:-webkit-linear-gradient(bottom,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0) 100%); }
.merchant_cont .box a		{ position:absolute; left:0; top:0; right:0; bottom:0; color:rgba(255,255,255,0.8); }
.merchant_cont .box h3		{ margin:0; font-size:18px; color:rgba(255,255,255,1); height:25px; overflow:hidden; }
.merchant_cont .box span	{ display:block; margin-bottom:10px; font-size:13px; height:20px; overflow:hidden; }
.merchant_cont .box .info_rating		{ color:#00aef0; font-size:16px; height:25px; line-height:25px; overflow:hidden; background:; }
.merchant_cont .box .merchant_percentage{ position:absolute; right:-4px; bottom:5px; padding:0 5px; line-height:30px; color:#fff; font-size:13px; font-weight:bold; background:red; }
.merchant_cont .box .merchant_percentage:before{ content:''; position:absolute; left:-10px; top:0; width:0; height:0; border:5px solid red; border-top-width:10px; border-left-color:transparent; border-bottom-color:transparent; }
.merchant_cont .box .merchant_percentage:after	{ content:''; position:absolute; left:-10px; bottom:0; width:0; height:0; border:5px solid red; border-bottom-width:10px; border-left-color:transparent; border-top-color:transparent; }
.merchant_cont .button_more 	{ padding:0 15px; text-align:right; }
.merchant_cont .button_more a	{ display:inline-block; padding:0 10px; line-height:30px; color:#fff; font-size:16px; font-style:italic; background:#5aba47; }
.merchant_cont .button_more a:hover	{ background:#7ace5d; }
.merchant_cont .button_more a i	{ margin-left:5px; }


.banner_outlet					{ position:relative; height:600px; background-repeat:no-repeat; background-position:center; background-size:cover; }
.merchant_description			{ position:absolute; left:0; right:0; bottom:0; color:#fff; background:rgba(0,0,0,0.5); background:-moz-linear-gradient(bottom,rgba(0,0,0,0.8),rgba(0,0,0,0.5)); 
								  background:-webkit-linear-gradient(bottom,rgba(0,0,0,0.8),rgba(0,0,0,0.5)); border-top:1px solid rgba(0,0,0,0.8); }
.merchant_description .desc		{ overflow:hidden; padding:0 10px; background:; }
.merchant_description .img		{ float:left; width:120px; height:120px; text-align:center; border:6px solid #fff; border-radius:50%; overflow:hidden; }
.merchant_description .img img	{ max-width:100%; max-height:100%; border-radius:50%; }
.merchant_description .title	{ overflow:hidden; padding:0 0 0 40px; background:; }
.merchant_description .title h3	{ font-size:25px; color:#fff; }
.merchant_description .rating	{ float:right; padding:0 10px; width:; text-align:right; background:; }
.merchant_description .rating i	{ color:#eea500; font-size:30px; }

#maps_box				{ position:relative; width:100%; height:400px; }
#maps_box img			{ max-width:none; }



/*----------------------------------------------------------------{ voucher }------------------------------------------------------------------------*/
.voucher_cont			{ }
.voucher_cont .list		{ position:relative; margin-bottom:20px; padding:; background:#f9f9f9; }
.voucher_cont .list .preview_voucher	{ float:left; width:75%; text-align:center; box-shadow:inset -1px 0 rgba(0,0,0,0.2); background:#fff; }
.voucher_cont .list .voucher			{ display:inline-block; margin:30px 10px; width:200px; text-align:center; background:; }
.voucher_cont .list .voucher .img		{ display:block; margin:0 0 10px 0; padding:0; height:103px; background:; }
.voucher_cont .list .voucher .img img	{ width:100%; height:100%; }
.voucher_cont .list .voucher label		{ display:block; }
.voucher_cont .list .voucher span		{ display:block; font-size:20px; font-weight:bold; }
.voucher_cont .list .button_voucher		{ position:relative; float:right; width:25%; text-align:center; }
.voucher_cont .list .button_voucher h3	{ margin-top:100px; }
.voucher_cont .list .button_voucher .price	{ margin-top:100px; font-size:25px; font-weight:bold; }
.voucher_cont .list .button_voucher .button		{ display:block; }
.voucher_cont .list .button_voucher .button a	{ display:block; padding:10px; font-size:30px; }
.voucher_cont .list .pita				{ position:absolute; top:-5px; left:0; right:0; text-align:center; font-size:16px; font-weight:bold; line-height:1; background:; }
.voucher_cont .list .pita span			{ display:inline-block; position:relative; margin:0 2px; padding:5px 10px; color:#fff; background:#555; }
.voucher_cont .list .pita span code		{ display:block; font-family:Open Sans, Arial; }
.voucher_cont .list .pita span.mp		{ background:#ed1c24; }
.voucher_cont .list .pita span.gp		{ background:#00aef0; }
.voucher_cont .list .pita span.cp		{ background:#5aba47; }
.voucher_cont .list .pita span.mp:after	{ content:''; position:absolute; left:0; right:0; bottom:-15px; height:15px; background:url(../img/frontend/mp_after.png) no-repeat center; background-size:100% 100%; }
.voucher_cont .list .pita span.gp:after	{ content:''; position:absolute; left:0; right:0; bottom:-15px; height:15px; background:url(../img/frontend/gp_after.png) no-repeat center; background-size:100% 100%; }
.voucher_cont .list .pita span.cp:after	{ content:''; position:absolute; left:0; right:0; bottom:-15px; height:15px; background:url(../img/frontend/cp_after.png) no-repeat center; background-size:100% 100%; }




/*-----------------------------------------------------------------{ rewards }------------------------------------------------------------------------*/
.rewards_cont				{ }
.rewards_cont .box			{ position:relative; text-align:center; background:#fff; border:1px solid rgba(0,0,0,0.2); border-radius:4px; overflow:hidden; }
.rewards_cont .box .img		{ border-bottom:1px solid rgba(0,0,0,0.1); }
.rewards_cont .box .img img	{ }
.rewards_cont .box .desc	{ padding:20px 10px; }
.rewards_cont .box .desc h3	{ margin-bottom:20px; font-size:18px; height:25px; overflow:hidden; }
.rewards_cont .box .desc span	{ position:relative; display:block; margin:0 20px; padding:5px 0; color:#fff; font-size:16px; line-height:20px; font-weight:bold; }
.rewards_cont .box .desc span.gp{ background:#00aef0; }
.rewards_cont .box .desc span.mp{ background:#ed1c24; margin-bottom:20px; }

.rewards_cont .box .desc span.gp:before	{ content:''; position:absolute; left:-20px; top:0; width:0; height:0; border-left:10px solid transparent; border-top:15px solid transparent; border-right:10px solid #ed1c24; border-bottom:15px solid #ed1c24; }
.rewards_cont .box .desc span.gp:after	{ content:''; position:absolute; right:-20px; top:0; width:0; height:0; border-left:10px solid #ed1c24; border-top:15px solid transparent; border-right:10px solid transparent; border-bottom:15px solid #ed1c24; }
.rewards_cont .box .desc span.mp:before	{ content:''; position:absolute; left:-20px; top:0; width:0; height:0; border-left:10px solid transparent; border-top:15px solid #00aef0; border-right:10px solid #00aef0; border-bottom:15px solid transparent; }
.rewards_cont .box .desc span.mp:after	{ content:''; position:absolute; right:-20px; top:0; width:0; height:0; border-left:10px solid #00aef0; border-top:15px solid #00aef0; border-right:10px solid transparent; border-bottom:15px solid transparent; }
.rewards_cont .button_more 			{ padding:0 15px; text-align:right; }
.rewards_cont .button_more a		{ display:inline-block; padding:0 10px; line-height:30px; color:#fff; font-size:16px; font-style:italic; background:#5aba47; }
.rewards_cont .button_more a:hover	{ background:#7ace5d; }
.rewards_cont .button_more a i		{ margin-left:5px; }


.rewards_cont .img_rewards		{ float:left; margin-right:20px; width:550px; height:402px; overflow:hidden; background:; }
.rewards_cont .img_rewards .img_large		{ float:left; margin-right:15px; width:400px; height:400px; background:#fff; border:1px solid rgba(0,0,0,0.2); }
.rewards_cont .img_rewards .img_large img	{ width:100%; height:100%; }
.rewards_cont .img_rewards .img_thumb		{ display:inline-block; margin-bottom:17px; width:120px; height:120px; background:#fff; border:1px solid rgba(0,0,0,0.2); }
.rewards_cont .img_rewards .img_thumb img	{ width:100%; height:100%; }

.rewards_cont .desc_rewards		{ padding:20px; overflow:hidden; background:; }
.rewards_cont .desc_rewards h3	{ margin-bottom:20px; padding-bottom:10px; font-size:30px; border-bottom:1px solid rgba(0,0,0,0.1); }
.rewards_cont .desc_rewards ul	{ margin:0 0 20px 0; padding:0; list-style:none; font-size:20px; }
.rewards_cont .desc_rewards ul li label	{ display:inline-block; padding:5px; width:150px; background:; }
.rewards_cont .desc_rewards ul li label:after{ content:':'; display:inline-block; float:right; }
.rewards_cont .desc_rewards ul li span	{ display:inline-block; padding:5px; font-weight:bold; background:; }
.rewards_cont .desc_rewards .button		{ display:block; margin:; max-width:350px; }
.rewards_cont .desc_rewards .button a	{ display:block; padding:20px 20px; font-size:50px; text-transform:uppercase; }

.rewards_cont .preview_rewards	{ margin:0 0 20px 0; padding:; }



/*------------------------------------------------------------{ charity_box }----------------------------------------------------------------------*/
#owl-example			{ position:relative; margin:auto; max-width:1000px; background:; }
.charity_cont			{ }
.charity_cont .cc_box	{ float:left; position:relative; margin:10px; padding:15px 15px 20px 15px; width:; text-align:center; border-radius:5px; background:#71bf44; 
						  background:-moz-linear-gradient(top,#71bf44,#71bf44); background:-webkit-linear-gradient(top,#71bf44,#71bf44);}
.charity_cont .cc_box:hover		{  }
.charity_cont .cc_box .img		{ margin:0; padding:0; width:; max-height:170px; background:#fff; border-bottom:1px solid rgba(0,0,0,0.2); }
.charity_cont .cc_box .img img	{ width:100%; height:; }

.charity_cont .cc_box .qty				{ position:relative; margin:0; padding:0; height:40px; background:#eee; }
.charity_cont .cc_box .qty span			{ display:inline-block; width:58%; background:#eee; color:#555; }
.charity_cont .cc_box .qty span input	{ float:left; width:40%; line-height:40px; background:none; border:none; color:#555; font-size:13px;
										  text-align:right; }
.charity_cont .cc_box .qty span sub		{ float:right; width:60%; line-height:40px; text-align:left; text-indent:5px; font-size:13px; }

.charity_cont .cc_box .qty .btns		{ width:20%; height:40px; line-height:40px; font-size:18px; text-align:center; cursor:pointer; background:#ddd;
										  background:-moz-linear-gradient(top,#ddd,#fff,#ddd); background:-webkit-linear-gradient(top,#ddd,#fff,#ddd);
										  font-weight:bold; color:#888; }
.charity_cont .cc_box .qty .btns:active	{ background:#eee; background:-moz-linear-gradient(top,#ddd,#fff); 
										  background:-webkit-linear-gradient(top,#ddd,#fff);}
.charity_cont .cc_box .qty .btns.pls	{ float:right; box-shadow:inset 1px 0 #ccc; }
.charity_cont .cc_box .qty .btns.min	{ float:left; box-shadow:inset -1px 0 #ccc; }

.charity_cont .cc_box h3		{ margin:0; padding:15px 0; color:#fff; text-shadow:0 1px rgba(0,0,0,0.3); font-size:15px; text-transform:uppercase; }
.charity_cont .cc_box h3 span	{ display:block; font-family:Oswald,Arial; font-weight:normal; }
.charity_cont .cc_box .btn		{ margin:0; padding:0; }
.charity_cont .cc_box .btn button{ display:inline-block; padding:7px 20px; color:#fff; text-shadow:0 1px rgba(0,0,0,0.3); font-size:14px; font-weight:bold; font-family:Roboto; 
								  background:#00aef0; border:none; border-radius:5px; cursor:pointer; box-shadow:0 3px rgba(255,255,255,0.7), 0 5px rgba(0,0,0,0.1); 
								  -moz-transition:0.2s; -webkit-transition:0.2s;  transition:0.2s; }
.charity_cont .cc_box .btn button:hover	{ background:#333; }
.charity_cont .cc_box .btn button:active{ background:#71bf44; box-shadow:0 3px rgba(255,0,255,0.7); }

.charity_cont .owl-item			{ cursor: url(../img/frontend/hand.png), grab; }
.charity_cont .owl-item:active	{ cursor: url(../img/frontend/hand_drag.png), grabbing; }
@media(max-width: 830px){
}
@media(max-width: 460px){
#owl-example			{ max-width:250px; }
}



/*-----------------------------------------------------------------{ search }------------------------------------------------------------------------*/
.search_form			{ text-align:center; background:url(../img/frontend/bg_search.jpg) center; background-size:cover; }
.search_form form		{ display:inline-block; }

.search_form .s_select				{ float:left; width:160px; padding:; text-align:left; -moz-transition:.3s; -webkit-transition:.3s; transition:.3s; }
.search_form .s_select .SlectBox	{ width:100%; height:45px; line-height:45px; text-indent:10px; color:rgba(255,255,255,1); -moz-transition:.3s; -webkit-transition:.3s; transition:.3s; }
.search_form .s_select:hover .SlectBox	{ color:rgba(0,0,0,0.6); }
.search_form .s_select .SumoSelect > .CaptionCont		{ border:none; background-color:transparent; }
.search_form .s_select .SumoSelect > .CaptionCont > label { width:30px; background:transparent; border-left:none; box-shadow:none; }
.search_form .s_select:hover .SumoSelect > .CaptionCont > span.placeholder { color:rgba(0,0,0,0.6); }
.search_form .s_select .SumoSelect > .optWrapper.open	{ top:50px; }
.search_form .s_select .SumoSelect > .optWrapper 		{ top:40px; }
.search_form .s_select:nth-of-type(1)	{ background:#ed1c29; }
.search_form .s_select:nth-of-type(2)	{ background:#00aef0; }
.search_form .s_select:nth-of-type(3)	{ background:#5aba47; }
.search_form .s_select:hover			{ background:#ffffff; }

.search_form .s_input				{ float:left; width:450px; padding:; }
.search_form .s_input input			{ margin:0; padding:0; width:100%; height:45px; text-align:left; font-size:13px; color:#555; text-indent:10px; border:none; background:; -moz-transition:.3s; -webkit-transition:.3s; transition:.3s; }
.search_form .s_input input:hover,
.search_form .s_input input:focus	{  }

.search_form .s_button				{ float:left; width:80px; padding:; }
.search_form .s_button button		{ height:45px; cursor:pointer; font-size:12px; font-weight:bold; color:rgba(255,255,255,0.8); background:#163b91; 
									  border:0; /*box-shadow:inset 0 0 0 1px rgba(255,255,255,0.1);*/ -moz-transition:.3s; -webkit-transition:.3s; transition:.3s; }
.search_form .s_button button:hover	{ background:#1a5bac; }
.search_form .s_button button:active{ background:#163b91; color:#fff; }
.search_form .s_button button i		{ font-size:16px; }

@media(max-width: 1000px)	{
.search_form .s_input		{ width:350px; }
.search_form .s_button		{ width:50px; }
}
@media(max-width: 900px)	{
.search_form .s_input		{ width:250px; }
}
@media(max-width: 767px)	{
.search_form form			{ display:block; padding:0 10px; }
.search_form .s_select		{ width:33.33%; margin:0 0 10px 0; }
.search_form.search_rewards .s_select { width:50%; margin:0 0 10px 0; }
.search_form .s_input		{ width:90%; }
.search_form .s_button		{ width:10%; }
}
@media(max-width: 460px)	{
.search_form .s_select		{ width:100%; }
.search_form.search_rewards .s_select { width:100%; }
}



/*---------------------------------------------------------------{ info_cont }----------------------------------------------------------------------*/
.info_cont .box				{ background:#fff; border:1px solid rgba(0,0,0,0.2); box-shadow:0 5px rgba(0,0,0,0.05); }
.info_cont .img img			{ width:100%; }
.info_cont .desc			{ padding:20px 10px 0px 10px; background:; }

.side_scroll_box				{ position:relative; padding:; height:170px; background:; }
.side_scroll_box ul 			{ position:relative; margin:0; padding:0; list-style:none; font-size:14px; background:; }
.side_scroll_box ul li			{ margin:0 0 1px 0; padding:5px; height:20px; overflow:hidden; border-bottom:1px solid rgba(0,0,0,0.1); background:; -moz-transition:.3s; -webkit-transition:.3s; transition:.3s; }
.side_scroll_box ul li:hover	{ color:#fff; background:#5aba47; }

.side_scroll_box .prev_next		{ position:relative; padding:; text-align:right; background:; }
.side_scroll_box .prev_next a	{ float:right; margin:1px; padding:5px; color:rgba(0,0,0,0.5); line-height:normal; background:#eee; border-radius:3px; }
.side_scroll_box .prev_next a:hover{ color:rgba(0,0,0,0.7); }




/*---------------------------------------------------------------{ view_cart }----------------------------------------------------------------------*/
.cart_list					{ }
.cart_list .list			{ padding:10px 0; border-bottom:1px solid rgba(0,0,0,0.1); -moz-transition:.3s; -webkit-transition:.3s; transition:.3s; }
.cart_list .list:hover		{ background:#f9f9f9; }
.cart_list .list .img		{ float:left; width:100px; height:80px; background:; }
.cart_list .list .img img	{ width:100%; height:100%; }
.cart_list .list .desc		{ padding:0 0 0 20px; overflow:hidden; background:; }
.cart_list .list .desc h4	{ margin:0 0 10px 0; font-size:18px; }
.cart_list .list .desc .dInfo		{ float:left; width:; line-height:20px; background:; }
.cart_list .list .desc .dInfo span	{ display:block; }
.cart_list .list .desc .dInfo label	{ display:inline-block; width:150px; color:#aaa; font-weight:normal; }
.cart_list .list .desc .dInfo b 	{ display:inline-block; font-size:11px; }

.cart_list .list .desc .dPrice		{ overflow:hidden; line-height:40px; text-align:right; background:; }
.cart_list .list .desc .dPrice input{ margin:0; padding:3px 0; width:40px; text-align:center; background:#fff; border:1px solid rgba(0,0,0,0.2); 
									  color:#999; font-size:11px; font-weight:bold; border-radius:2px; box-shadow:inset 2px 2px 0 rgba(0,0,0,0.04);}
.cart_list .list .desc .dPrice span	{ display:inline-block; margin:0; padding:0 3px; }
.cart_list .list .desc .dPrice span b{ color:#4c72d3; }
.cart_list .list .desc .dPrice span.remove{ display:inline-block; margin-left:20px; font-size:18px; border:1px solid rgba(255,0,0,0.2); }
.cart_list .list .desc .dPrice span.remove a{ display:block; padding:2px 3px; color:red; }
.cart_list .list .desc .dPrice span.remove a:hover{ color:black; }
.cart_list .list_total		{ padding:15px; text-align:right; background:#f9f9f9; }
.cart_list .list_total lable{ display:inline-table; font-size:20px; }
.cart_list .list_total span	{ display:inline-table; font-size:20px; font-weight:bold; }

.payment_method				{ }
.payment_method input[type=radio]{ margin-bottom:-26px; width:16px; height:16px; cursor:pointer; }
.payment_method label		{ display:block; margin-top:; padding:70px 0 10px 0; font-size:12px; cursor:pointer; background-repeat:no-repeat; background-position:center 30px; }
.payment_method label.bank				{ background-image:url(../img/frontend/transfer_bank.gif); }
.payment_method label.visa				{ background-image:url(../img/frontend/visa.gif); }
.payment_method label.mastercard		{ background-image:url(../img/frontend/mastercard.gif); }
.payment_method label.americanExpress	{ background-image:url(../img/frontend/american-express.gif); }
.payment_method label.netBanking		{ background-image:url(../img/frontend/rupay.gif); }
.payment_method input:checked + label	{ background-color:#f9f9f9; }
@media(max-width: 767px){ .zerogrid .payment_method .col-1-5 { float:none; display:inline-block; width:130px; } }

.cart_page ul			{ margin:0; padding:0; list-style:none; line-height:normal; font-size:12px; font-weight:bold; text-transform:uppercase; }
.cart_page ul li		{ position:relative; float:left; width:33.33%; color:rgba(0,0,0,0.3); background:#f9f9f9; -moz-transition:.3s; -webkit-transition:.3s; transition:.3s; }
.cart_page ul li.active	{  }
.cart_page ul li span	{ position:relative; display:block; padding:2px 5px; z-index:1; border-right:1px solid rgba(255,255,255,0.4); }
.cart_page ul li.active:before	{ content:''; position:absolute; left:0; top:0; right:100%; bottom:0; height:; background:#fe923a; }

.cart_page ul li.active:nth-of-type(1)	{ -moz-animation:cart_page_color 1s 1s linear forwards; -webkit-animation:cart_page_color 1s 1s linear forwards; animation:cart_page_color 1s 1s linear forwards; }
.cart_page ul li.active:nth-of-type(2)	{ -moz-animation:cart_page_color 1s 2s linear forwards; -webkit-animation:cart_page_color 1s 2s linear forwards; animation:cart_page_color 1s 2s linear forwards; }
.cart_page ul li.active:nth-of-type(3)	{ -moz-animation:cart_page_color 1s 3s linear forwards; -webkit-animation:cart_page_color 1s 3s linear forwards; animation:cart_page_color 1s 3s linear forwards; }

.cart_page ul li.active:nth-of-type(1):before	{ -moz-animation:cart_page_bg 1s 1s linear forwards; -webkit-animation:cart_page_bg 1s 1s linear forwards; animation:cart_page_bg 1s 1s linear forwards; }
.cart_page ul li.active:nth-of-type(2):before	{ -moz-animation:cart_page_bg 1s 2s linear forwards; -webkit-animation:cart_page_bg 1s 2s linear forwards; animation:cart_page_bg 1s 2s linear forwards; }
.cart_page ul li.active:nth-of-type(3):before	{ -moz-animation:cart_page_bg 1s 3s linear forwards; -webkit-animation:cart_page_bg 1s 3s linear forwards; animation:cart_page_bg 1s 3s linear forwards; }

@-moz-keyframes cart_page_color		{ 0% { color:rgba(0,0,0,0.3); } 100%{ color:rgba(0,0,0,0.5); } }
@-webkit-keyframes cart_page_color	{ 0% { color:rgba(0,0,0,0.3); } 100%{ color:rgba(0,0,0,0.5); } }
@keyframes cart_page_color			{ 0% { color:rgba(0,0,0,0.3); } 100%{ color:rgba(0,0,0,0.5); } }

@-moz-keyframes cart_page_bg	{ 0% { right:100%; } 100%{ right:0; } }
@-webkit-keyframes cart_page_bg	{ 0% { right:100%; } 100%{ right:0; } }
@keyframes cart_page_bg			{ 0% { right:100%; } 100%{ right:0; } }


@media(max-width: 560px){ 
.cart_page ul li		{ float:left; width:100%; }
.cart_page ul li span	{ border-right:none; border-bottom:1px solid rgba(255,255,255,0.4); }
.cart_page ul li.active:before	{ left:0; top:0; right:0; bottom:100%; background:#fe923a; }
@-moz-keyframes cart_page_bg	{ 0% { bottom:100%; } 100%{ bottom:0; } }
@-webkit-keyframes cart_page_bg	{ 0% { bottom:100%; } 100%{ bottom:0; } }
@keyframes cart_page_bg			{ 0% { bottom:100%; } 100%{ bottom:0; } }
}



/*----------------------------------------------------------------{ footer }------------------------------------------------------------------------*/
.footer_top				{ position:relative; height:70px; border-top:1px solid rgba(0,0,0,0.1); background:#fff; background:-moz-linear-gradient(top,#f7f7f7 5%,#fff 20%,#f0f0f0 70%); 
						  background:-webkit-linear-gradient(top,#f7f7f7 5%,#fff 20%,#f0f0f0 70%); box-shadow:inset 0 1px #fff, 0 2px 3px rgba(0,0,0,0.15); z-index:; }

.footer_top	.sosmed		{ float:left; padding:20px 0; background:; }
.footer_top	.sosmed	span{ display:inline-block; }
.footer_top	.sosmed a	{ display:block; width:30px; text-align:center; font-size:18px; border-radius:3px; -moz-transition:.3s; -webkit-transition:.3s; transition:.3s; }
.footer_top	.sosmed a i	{ color:rgba(255,255,255,1); line-height:30px; }
.footer_top	.sosmed a[title=facebook]		{ background:#4b6ea5; }
.footer_top	.sosmed a[title=twitter]		{ background:#33b7e7; }
.footer_top	.sosmed a[title=instagram]		{ background:#a07463; }
.footer_top	.sosmed a[title=youtube]		{ background:#d64237; }
.footer_top	.sosmed a[title=googlePlus]		{ background:#e45f44; }
.footer_top	.sosmed a:hover		{ background:#000; }

.footer_top	.pay_using	{ float:right; padding:20px 0; background:; }
.footer_top	.pay_using	span{ display:inline-block; background:; line-height:normal; }
.footer_top	.pay_using	span img{ vertical-align:middle; }


.get_app_wrap				{ position:relative; top:-43px; margin:0 auto; padding:0; width:211px; height:; background:url(../img/frontend/get_app_wrap.png) no-repeat center; background-size:100% 70px; z-index:1; }
.get_app_scroll				{ position:relative; background:; }
.get_app_scroll .box		{ float:left; margin:10px; padding:25px 0 0; width:135px; height:110px; text-align:center; background:url(../img/frontend/get_app_box.png) no-repeat center; }
.get_app_scroll .box .img	{ display:inline-block; width:48px; height:59px; background:; }
.get_app_scroll .box .img img{ width:100%; }
.get_app_scroll .box .title	{ position:relative; padding:5px 0; font-size:12px; background:; }

.get_app_wrap .prev_next		{ }
.get_app_wrap .prev_next .prev,
.get_app_wrap .prev_next .next	{ position:absolute; top:50%; margin-top:-10px; font-size:20px; color:rgba(0,0,0,0.2); }
.get_app_wrap .prev_next .prev	{ left:15px; }
.get_app_wrap .prev_next .next	{ right:15px; }
.get_app_wrap .prev_next .prev:hover, .get_app_wrap .prev_next .next:hover{ color:rgba(0,0,0,0.3); }
.get_app_wrap .prev_next .prev:active, .get_app_wrap .prev_next .next:active{ color:rgba(0,0,0,0.1); }


.footer_content			{ background:#444; }

.f_link					{ margin-top:; color:rgba(255,255,255,0.5); font-size:14px; }
.f_link h3				{ margin-bottom:25px; padding-left:60px; height:50px; font-size:20px; color:rgba(255,255,255,0.4); font-family:Oswald; font-weight:bold; text-transform:uppercase; background:; }
.f_link h3 span			{ display:block; font-size:14px; font-weight:normal; }
.f_link ul				{ margin:0; list-style:none; line-height:25px; }
.f_link ul a			{ color:rgba(255,255,255,0.5); -moz-transition:.3s; -webkit-transition:.3s; transition:.3s; }
.f_link ul a:hover		{ color:rgba(255,255,255,0.7); padding-left:10px; }
.f_link p				{ margin-bottom:10px; line-height:25px; }

.footer_content	hr		{ color:none; clear:both; float:none; width:100%; height:1px; margin:0 0 15px 0; border:none; border-bottom:1px solid rgba(0,0,0,0.1); box-shadow:0 1px rgba(255,255,255,0.2); }



#footer					{ font-size:17px; color:rgba(255,255,255,0.5); text-align:center; background:#343233; }

#footer .copyright			{ font-size:12px; }
#footer .copyright span		{ display:block; }
#footer .copyright	a img	{ width:15px; vertical-align:sub; opacity:0.7; -moz-transition:.3s; -webkit-transition:.3s; transition:.3s; }
#footer .copyright	a:hover	img	{ opacity:1; }
#footer a					{ color:rgba(255,255,255,0.5); }
#footer a:hover				{ color:rgba(255,255,255,0.8); }




/*------------------------------------------------------------{ Animation }--------------------------------------------------------------------------*/
@-moz-keyframes bubbleIcon		{	0%	{ -moz-transform:scale(1); } 25%	{ -moz-transform:scale(1.2); } 50%	{ -moz-transform:scale(1); }	
									75%	{ -moz-transform:scale(1.1); } 100%	{ -moz-transform:scale(1); }	}
@-webkit-keyframes bubbleIcon	{	0%	{ -webkit-transform:scale(1); } 25%	{ -webkit-transform:scale(1.2); } 50%	{ -webkit-transform:scale(1); }	
									75%	{ -webkit-transform:scale(1.1); } 100%	{ -webkit-transform:scale(1); }	}
@keyframes bubbleIcon			{	0%	{ transform:scale(1); } 25%	{ transform:scale(1.2); } 50%	{ transform:scale(1); }	
									75%	{ transform:scale(1.1); } 100%	{ transform:scale(1); }	}
					
.bubble{display:inline-block}				
.bubble:hover,.bubble:focus		{-moz-animation:bubbleIcon 0.5s ease-out forwards;-webkit-animation:bubbleIcon 0.5s ease-out forwards;-o-animation:bubbleIcon 0.5s ease-out forwards;animation:bubbleIcon 0.5s ease-out forwards;}

									
@-moz-keyframes blink		{	0%	{ opacity:1.0; } 50% {opacity:0; } 100%{ opacity:1.0; }	}
@-webkit-keyframes blink	{	0%	{ opacity:1.0; } 50% {opacity:0; } 100%{ opacity:1.0; }	}
@keyframes blink			{	0%	{ opacity:1.0; } 50% {opacity:0; } 100%{ opacity:1.0; }	}

.blink{display:inline-block}
.blink:hover,.blink:focus	{-moz-animation:blink .8s linear infinite;-webkit-animation:blink .8s linear infinite;-o-animation:blink .8s linear infinite;animation:blink .8s linear infinite;-moz-transform-origin:50% 50%;-webkit-transform-origin:50% 50%;-o-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform-origin:50% 50%}



/*------------------------------------------------------{ shake efek(bergetar/bergoyang) }------------------------------------------------------*/
@-moz-keyframes shake{0%{-moz-transform:translate(2px,1px) rotate(0deg)}10%{-moz-transform:translate(-1px,-2px) rotate(-1deg)}20%{-moz-transform:translate(-3px,0px) rotate(1deg)}30%{-moz-transform:translate(0px,2px) rotate(0deg)}40%{-moz-transform:translate(1px,-1px) rotate(1deg)}50%{-moz-transform:translate(-1px,2px) rotate(-1deg)}60%{-moz-transform:translate(-3px,1px) rotate(0deg)}70%{-moz-transform:translate(2px,1px) rotate(-1deg)}80%{-moz-transform:translate(-1px,-1px) rotate(1deg)}90%{-moz-transform:translate(2px,2px) rotate(0deg)}100%{-moz-transform:translate(1px,-2px) rotate(-1deg)}}
@-webkit-keyframes shake{0%{-webkit-transform:translate(2px,1px) rotate(0deg)}10%{-webkit-transform:translate(-1px,-2px) rotate(-1deg)}20%{-webkit-transform:translate(-3px,0px) rotate(1deg)}30%{-webkit-transform:translate(0px,2px) rotate(0deg)}40%{-webkit-transform:translate(1px,-1px) rotate(1deg)}50%{-webkit-transform:translate(-1px,2px) rotate(-1deg)}60%{-webkit-transform:translate(-3px,1px) rotate(0deg)}70%{-webkit-transform:translate(2px,1px) rotate(-1deg)}80%{-webkit-transform:translate(-1px,-1px) rotate(1deg)}90%{-webkit-transform:translate(2px,2px) rotate(0deg)}100%{-webkit-transform:translate(1px,-2px) rotate(-1deg)}}
@-o-keyframes shake{0%{-o-transform:translate(2px,1px) rotate(0deg)}10%{-o-transform:translate(-1px,-2px) rotate(-1deg)}20%{-o-transform:translate(-3px,0px) rotate(1deg)}30%{-o-transform:translate(0px,2px) rotate(0deg)}40%{-o-transform:translate(1px,-1px) rotate(1deg)}50%{-o-transform:translate(-1px,2px) rotate(-1deg)}60%{-o-transform:translate(-3px,1px) rotate(0deg)}70%{-o-transform:translate(2px,1px) rotate(-1deg)}80%{-o-transform:translate(-1px,-1px) rotate(1deg)}90%{-o-transform:translate(2px,2px) rotate(0deg)}100%{-o-transform:translate(1px,-2px) rotate(-1deg)}}
@keyframes shake{0%{transform:translate(2px,1px) rotate(0deg)}10%{transform:translate(-1px,-2px) rotate(-1deg)}20%{transform:translate(-3px,0px) rotate(1deg)}30%{transform:translate(0px,2px) rotate(0deg)}40%{transform:translate(1px,-1px) rotate(1deg)}50%{transform:translate(-1px,2px) rotate(-1deg)}60%{transform:translate(-3px,1px) rotate(0deg)}70%{transform:translate(2px,1px) rotate(-1deg)}80%{transform:translate(-1px,-1px) rotate(1deg)}90%{transform:translate(2px,2px) rotate(0deg)}100%{transform:translate(1px,-2px) rotate(-1deg)}}

.shake{display:inline-block}
.shake:hover,.shake:focus{-moz-animation:shake .8s linear infinite;-webkit-animation:shake .8s linear infinite;-o-animation:shake .8s linear infinite;animation:shake .8s linear infinite;-moz-transform-origin:50% 50%;-webkit-transform-origin:50% 50%;-o-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform-origin:50% 50%}