@charset "UTF-8";
/* CSS Document */

/*---------------------------------------------------------------{ tooltip }-------------------------------------------------------------------------*/
#tooltip 			{ position:absolute; border:1px solid #000; margin-bottom:30px; margin-top:-5px; font-size:12px; line-height:18px;
					  padding:3px 10px 5px 10px; color:#ccc; background:rgba(0,0,0,0.9); display:none; opacity: 0.90; border-radius:3px; z-index:1500; 
					  text-align:left; font-weight:bold;}
#tooltip:before		{ content:''; position:absolute; left:-8px; top:7px; width:0; height:0; border-right:7px solid rgba(0,0,0,0.85); 
					  border-top:6px solid transparent; border-bottom:6px solid transparent; }


/*--------------------------------------------------------------{ Back top }-------------------------------------------------------------------------*/
.backTop 			{ position:relative; margin:0 15px 2px 0; padding:0px; width:40px; height:40px; border:1px solid rgba(0,0,0,0.1); border-radius:4px; 
					  background:rgba(0,0,0,0.3) url(../img/frontend/topper.png) no-repeat center; box-shadow:0 0 0 1px rgba(255,255,255,0.05); -moz-transition: all 100ms linear; 
					  -webkit-transition: all 100ms linear; -o-transition: all 100ms linear; -ms-transition: all 100ms linear; 
					  transition: all 100ms linear; bottom:0; z-index:2000; }
.backTop:hover		{ opacity:0.8; background-color:rgba(0,0,0,0.6); background-position:center 12px; }
.backTop:after		{ content:''; position:absolute; left:8px; right:8px; top:-18px; height:15px; opacity:0; 
					  background:url(../img/frontend/topper_after.png) no-repeat center top; }
.backTop:hover:after	{ -moz-animation:topper 1s infinite; -webkit-animation:topper 1s infinite; }
@-moz-keyframes topper		{	0%	{ top:-18px; opacity:0; } 50%{ opacity:1; } 100%{ top:-30px; opacity:0; }	}
@-webkit-keyframes topper	{	0%	{ top:-18px; opacity:0; } 50%{ opacity:1; } 100%{ top:-30px; opacity:0; }	}


/*----------------------------------------------------------------{ alert }--------------------------------------------------------------------------*/
.alert				{ margin:5px; padding:10px 10px 10px 35px; display:block; line-height:20px; font-family:Tahoma; background:#f5f5f5;
					  border:1px solid; text-shadow:none; box-shadow:inset 0 0 0 1px rgba(255,255,255,0.5); -webkit-transition: all 100ms linear; 
					  -moz-transition: all 100ms linear; -o-transition: all 100ms linear; -ms-transition: all 100ms linear; 
					  transition: all 100ms linear; font-weight:normal; border-radius:3px; }
	.success		{ color:#00632e; border-color:#339933; background:#d1e8d2 url(../img/frontend/tick_circle.png) no-repeat 10px 13px; }
	.error			{ color:#820101; border-color:#dc1c1c; background:#facfcf url(../img/frontend/cross_circle.png) no-repeat 10px 13px; }
	.warning		{ color:#675100; border-color:#d4b64b; background:#fdefbd url(../img/frontend/exclamation.png) no-repeat 10px 13px; }
	.info			{ color:#00357b; border-color:#9dbfea; background:#d8e7fa url(../img/frontend/information.png) no-repeat 10px 13px; }
	.note			{ color:#4d4d4d; border-color:#bdbdbd; background:#f4f4f4 url(../img/frontend/notebook.png) no-repeat 10px 13px; }
.alert:hover		{ opacity:0.8; }
.notification		{ cursor:pointer; }


/*----------------------------------------------------------------{ Img }---------------------------------------------------------------------------*/
.imgBorder			{ padding:1px; max-width:98.5%; background:rgba(255,255,255,0.7); border:5px solid #da9c3c; }

.imgOpacity			{ opacity:1; -webkit-transition: all 400ms linear; -moz-transition: all 400ms linear; -o-transition: all 400ms linear; 
					  -ms-transition: all 400ms linear; transition: all 400ms linear; }
.imgOpacity:hover	{ opacity:0.5; }

img					{ max-width:100%; }

.ornamentBg			{ position:relative; padding:0 50px; text-align:center; font-family:Copperplate Gothic Bold, Copperplate; background:; }
.ornamentBg span	{ position:relative; display:inline-block; padding:15px 0; width:100%; max-width:700px; color:#164da5; font-size:30px; line-height:30px; z-index:1; 
					  background:#ddd; background-repeat:repeat-x; background-position:center top; background-size:auto 100%; }
.ornamentBg span:before	{ content:''; position:absolute; left:-50px; top:0; bottom:0; width:50px; height:; background:#5aba47; background-repeat:no-repeat; background-position:center center; background-size:100% 100%; }
.ornamentBg span:after	{ content:''; position:absolute; right:-50px; top:0; bottom:0; width:50px; height:; background:#5aba47; background-repeat:no-repeat; background-position:center center; background-size:100% 100%; }

.ornamentBg.red span			{ background-image:url(../img/frontend/ornamentBg_red.png); background-color:transparent; }
.ornamentBg.red span:before		{ background-image:url(../img/frontend/ornamentBg_red_before.png); background-color:transparent; }
.ornamentBg.red span:after		{ background-image:url(../img/frontend/ornamentBg_red_after.png); background-color:transparent; }

.ornamentBg.green span			{ background-image:url(../img/frontend/ornamentBg_green.png); background-color:transparent; }
.ornamentBg.green span:before	{ background-image:url(../img/frontend/ornamentBg_green_before.png); background-color:transparent; }
.ornamentBg.green span:after	{ background-image:url(../img/frontend/ornamentBg_green_after.png); background-color:transparent; }

.ornamentBg.orange span			{ background-image:url(../img/frontend/ornamentBg_orange.png); background-color:transparent; }
.ornamentBg.orange span:before	{ background-image:url(../img/frontend/ornamentBg_orange_before.png); background-color:transparent; }
.ornamentBg.orange span:after	{ background-image:url(../img/frontend/ornamentBg_orange_after.png); background-color:transparent; }
					  
/*.ornamentBg			{ position:relative; text-align:center; font-family:Copperplate Gothic Bold, Copperplate; }
.ornamentBg span	{ position:relative; display:block; padding:10px; color:#fff; background:#1d4288; z-index:1; }
.ornamentBg:before	{ content:''; position:absolute; left:15px; top:-20px; width:100px; height:40px; background:#5aba47; 
					  -moz-transform:rotate(-35deg) skew(10deg,20deg); -webkit-transform:rotate(-35deg) skew(10deg,20deg); transform:rotate(-35deg) skew(10deg,20deg); }
.ornamentBg:after	{ content:''; position:absolute; right:15px; top:-20px; width:100px; height:40px; background:#5aba47; 
					  -moz-transform:rotate(35deg) skew(-10deg,-20deg); -webkit-transform:rotate(35deg) skew(-10deg,-20deg); transform:rotate(35deg) skew(-10deg,-20deg); }*/

.ornament			{ display:block; position:relative; padding:0 5px; margin:0; background:; font-family:Copperplate Gothic Bold, Copperplate; }
.ornament:before	{ content:''; position:absolute; left:10vw; right:10vw; top:50%; height:1px; background:rgba(0,0,0,0.2); }
.ornament em		{ position:relative; display:inline-block; padding:0 25px; background:; font-style:normal; }
.ornament em:before,
.ornament em:after	{ content:''; position:absolute; top:50%; margin-top:-4px; width:8px; height:8px; background:rgba(0,0,0,0.2); border-radius:50%; }
.ornament em:before	{ left:1px; }
.ornament em:after	{ right:1px; }



/* GRID*/
.zerogrid .wrap-col{margin:10px;}

.zerogrid .col-1-2, .zerogrid .col-1-3, .zerogrid .col-2-3, .zerogrid .col-1-4, .zerogrid .col-2-4, .zerogrid .col-3-4, .zerogrid .col-1-5, .zerogrid .col-2-5, .zerogrid .col-3-5, .zerogrid .col-4-5, .zerogrid .col-1-6, .zerogrid .col-2-6, .zerogrid .col-3-6, .zerogrid .col-4-6, .zerogrid .col-5-6{float:left; display: inline-block;}

.zerogrid .col-full{width:100%;}

.zerogrid .col-1-2{width:50%;}
.zerogrid .offset-1-2{margin-left: 50%;}

.zerogrid .col-1-3{width:33.33%;}
.zerogrid .col-2-3{width:66.66%;}
.zerogrid .offset-1-3{margin-left: 33.33%;}
.zerogrid .offset-2-3{margin-left: 66.66%;}

.zerogrid .col-1-4{width:25%;}
.zerogrid .col-2-4{width:50%;}
.zerogrid .col-3-4{width:75%;}
.zerogrid .offset-1-4{margin-left: 25%;}
.zerogrid .offset-2-4{margin-left: 50%;}
.zerogrid .offset-3-4{margin-left: 75%;}

.zerogrid .col-1-5{width:20%;}
.zerogrid .col-2-5{width:40%;}
.zerogrid .col-3-5{width:60%;}
.zerogrid .col-4-5{width:80%;}
.zerogrid .offset-1-5{margin-left: 20%;}
.zerogrid .offset-2-5{margin-left: 40%;}
.zerogrid .offset-3-5{margin-left: 60%;}
.zerogrid .offset-4-5{margin-left: 80%;}

.zerogrid .col-1-6{width:16.66%;}
.zerogrid .col-2-6{width:33.33%;}
.zerogrid .col-3-6{width:50%;}
.zerogrid .col-4-6{width:66.66%;}
.zerogrid .col-5-6{width:83.33%;}
.zerogrid .offset-1-6{margin-left: 16.66%;}
.zerogrid .offset-2-6{margin-left: 33.33%;}
.zerogrid .offset-3-6{margin-left: 50%;}
.zerogrid .offset-4-6{margin-left: 66.66%;}
.zerogrid .offset-5-6{margin-left: 83.33%;}

@media only screen and (max-width: 767px) {
	.zerogrid, .zerogrid .col-1-2, .zerogrid .col-1-3, .zerogrid .col-2-3, .zerogrid .col-1-4, .zerogrid .col-2-4, .zerogrid .col-3-4, .zerogrid .col-1-5, .zerogrid .col-2-5, .zerogrid .col-3-5, .zerogrid .col-4-5, .zerogrid .col-1-6, .zerogrid .col-2-6, .zerogrid .col-3-6, .zerogrid .col-4-6, .zerogrid .col-5-6{width:100%;}
	
	.zerogrid .offset-1-2, .zerogrid .offset-1-3, .zerogrid .offset-2-3, .zerogrid .offset-1-4, .zerogrid .offset-2-4, .zerogrid .offset-3-4, .zerogrid .offset-1-5, .zerogrid .offset-2-5, .zerogrid .offset-3-5, .zerogrid .offset-4-5, .zerogrid .offset-1-6, .zerogrid .offset-2-6, .zerogrid .offset-3-6, .zerogrid .offset-4-6, .zerogrid .offset-5-6{margin-left:0;}
}

/*END GRID*/



/*GRID Multi responsive*/
.grid_multirespon .wrap-col{margin:10px;}

.grid_multirespon .col-1-2, .grid_multirespon .col-1-3, .grid_multirespon .col-2-3, .grid_multirespon .col-1-4, .grid_multirespon .col-2-4, .grid_multirespon .col-3-4, .grid_multirespon .col-1-5, .grid_multirespon .col-2-5, .grid_multirespon .col-3-5, .grid_multirespon .col-4-5, .grid_multirespon .col-1-6, .grid_multirespon .col-2-6, .grid_multirespon .col-3-6, .grid_multirespon .col-4-6, .grid_multirespon .col-5-6{float:left; display: inline-block;}

.grid_multirespon .col-full{width:100%;}

.grid_multirespon .col-1-2{width:50%;}

.grid_multirespon .col-1-3{width:33.33%;}
.grid_multirespon .col-2-3{width:66.66%;}

.grid_multirespon .col-1-4{width:25%;}
.grid_multirespon .col-2-4{width:50%;}
.grid_multirespon .col-3-4{width:75%;}

.grid_multirespon .col-1-5{width:20%;}
.grid_multirespon .col-2-5{width:40%;}
.grid_multirespon .col-3-5{width:60%;}
.grid_multirespon .col-4-5{width:80%;}

.grid_multirespon .col-1-6{width:16.66%;}
.grid_multirespon .col-2-6{width:33.33%;}
.grid_multirespon .col-3-6{width:50%;}
.grid_multirespon .col-4-6{width:66.66%;}
.grid_multirespon .col-5-6{width:83.33%;}

/*end GRID Multi responsive*/



/*BACKGROUND*/
.bg_transparent			{ background-color: transparent; }
.bg_transparentDark01	{ background-color:rgba(0,0,0,0.1); }
.bg_transparentLight01	{ background-color:rgba(255,255,255,0.1); }
.bg_transparentDark08	{ background-color:rgba(0,0,0,0.8); }
.bg_transparentLight08	{ background-color:rgba(255,255,255,0.8); }
.bg_white				{ background-color: #ffffff; }
.bg_gray				{ background-color: #eeeeee; }
.bg_grayLight			{ background-color: #fafafa; }
.bg_grayDark			{ background-color: #cdcdcd; }
.bg_dark				{ background-color: #373536; }
.bg_green				{ background-color: #42b549; }
.bg_orange				{ background-color: #fe923a; }
.bg_red					{ background-color: #ff4041; }
.bg_gold				{ background-color: #da9c3c; }
.bg_blue				{ background-color: #4c72d3; }
.bg_azure				{ background-color: #23bfd4; }
.bg_purple				{ background-color: #6c2357; }
.bg_purpleLight			{ background-color: #9d4c87; }

.bg_gradient_gold		{ background: #eada9c;
						  background: -moz-linear-gradient(left, #bea982,#eada9c,#bea982);
						  background: -webkit-linear-gradient(left, #bea982,#eada9c,#bea982);
						  background: -ms-linear-gradient(left, #bea982,#eada9c,#bea982);
						  background: -o-linear-gradient(left, #bea982,#eada9c,#bea982);
						}
						
.bg_pattern_white				{ background: #ffffff url(../img/frontend/pattern_bg.png) repeat; }
.bg_pattern_gray				{ background: #eeeeee url(../img/frontend/pattern_bg.png) repeat; }
.bg_pattern_grayLight			{ background: #fafafa url(../img/frontend/pattern_bg.png) repeat; }
.bg_pattern_grayDark			{ background: #cdcdcd url(../img/frontend/pattern_bg.png) repeat; }
.bg_pattern_dark				{ background: #373536 url(../img/frontend/pattern_bg.png) repeat; }
.bg_pattern_green				{ background: #42b549 url(../img/frontend/pattern_bg.png) repeat; }
.bg_pattern_orange				{ background: #fe923a url(../img/frontend/pattern_bg.png) repeat; }
.bg_pattern_red					{ background: #ff4041 url(../img/frontend/pattern_bg.png) repeat; }
.bg_pattern_gold				{ background: #da9c3c url(../img/frontend/pattern_bg.png) repeat; }
.bg_pattern_blue				{ background: #4c72d3 url(../img/frontend/pattern_bg.png) repeat; }
.bg_pattern_azure				{ background: #23bfd4 url(../img/frontend/pattern_bg.png) repeat; }
.bg_pattern_purple				{ background: #6c2357 url(../img/frontend/pattern_bg.png) repeat; }
.bg_pattern_purpleLight			{ background: #9d4c87 url(../img/frontend/pattern_bg.png) repeat; }
						
.bg_pattern2_white				{ background: #ffffff url(../img/frontend/pattern_bg2.png) repeat; }
.bg_pattern2_gray				{ background: #eeeeee url(../img/frontend/pattern_bg2.png) repeat; }
.bg_pattern2_grayLight			{ background: #fafafa url(../img/frontend/pattern_bg2.png) repeat; }
.bg_pattern2_grayDark			{ background: #cdcdcd url(../img/frontend/pattern_bg2.png) repeat; }
.bg_pattern2_dark				{ background: #373536 url(../img/frontend/pattern_bg2.png) repeat; }
.bg_pattern2_green				{ background: #42b549 url(../img/frontend/pattern_bg2.png) repeat; }
.bg_pattern2_orange				{ background: #fe923a url(../img/frontend/pattern_bg2.png) repeat; }
.bg_pattern2_red				{ background: #ff4041 url(../img/frontend/pattern_bg2.png) repeat; }
.bg_pattern2_gold				{ background: #da9c3c url(../img/frontend/pattern_bg2.png) repeat; }
.bg_pattern2_blue				{ background: #4c72d3 url(../img/frontend/pattern_bg2.png) repeat; }
.bg_pattern2_azure				{ background: #23bfd4 url(../img/frontend/pattern_bg2.png) repeat; }
.bg_pattern2_purple				{ background: #6c2357 url(../img/frontend/pattern_bg2.png) repeat; }
.bg_pattern2_purpleLight		{ background: #9d4c87 url(../img/frontend/pattern_bg2.png) repeat; }


/*BORDER RADIUS*/
.border_radius3			{ border-radius:3px; }
.border_radius5			{ border-radius:5px; }
.border_radius10		{ border-radius:10px; }
.border_radius15		{ border-radius:15px; }
.border_radius20		{ border-radius:20px; }
.border_radius50p		{ border-radius:50%; }
.border_radius100p		{ border-radius:100%; }



/*MARGIN*/
.marXY100 { margin:100px; } .marXY90 { margin:90px; } .marXY80 { margin:80px; } .marXY70 { margin:70px; } .marXY60 { margin:60px; } .marXY50 { margin:50px; } .marXY40 { margin:40px; } .marXY30 { margin:30px; } .marXY20 { margin:20px; } .marXY10 { margin:10px; } .marXY15 { margin:15px; } .marXY5 { margin:5px; }

.marY100				{ margin-top:100px; margin-bottom:100px; }
.marY90					{ margin-top:90px; margin-bottom:90px; }
.marY80					{ margin-top:80px; margin-bottom:80px; }
.marY70					{ margin-top:70px; margin-bottom:70px; }
.marY60					{ margin-top:60px; margin-bottom:60px; }
.marY50					{ margin-top:50px; margin-bottom:50px; }
.marY40					{ margin-top:40px; margin-bottom:40px; }
.marY30					{ margin-top:30px; margin-bottom:30px; }
.marY20					{ margin-top:20px; margin-bottom:20px; }
.marY15					{ margin-top:15px; margin-bottom:15px; }
.marY10					{ margin-top:10px; margin-bottom:10px; }
.marY5					{ margin-top:5px; margin-bottom:5px; }

.marX100				{ margin-left:100px; margin-right:100px; }
.marX90					{ margin-left:90px; margin-right:90px; }
.marX80					{ margin-left:80px; margin-right:80px; }
.marX70					{ margin-left:70px; margin-right:70px; }
.marX60					{ margin-left:60px; margin-right:60px; }
.marX50					{ margin-left:50px; margin-right:50px; }
.marX40					{ margin-left:40px; margin-right:40px; }
.marX30					{ margin-left:30px; margin-right:30px; }
.marX20					{ margin-left:20px; margin-right:20px; }
.marX15					{ margin-left:15px; margin-right:15px; }
.marX10					{ margin-left:10px; margin-right:10px; }
.marX5					{ margin-left:5px; margin-right:5px; }

.mar0 { margin:0; } .marTop0 { margin-top:0; } .marBottom0 { margin-bottom:0; } .marLeft0 { margin-left:0; } .marRight0 { margin-right:0; }
.marTop5 { margin-top:5px; } .marBottom5 { margin-bottom:5px; } .marLeft5 { margin-left:5px; } .marRight5 { margin-right:5px; }
.marTop10 { margin-top:10px; } .marBottom10 { margin-bottom:10px; } .marLeft10 { margin-left:10px; } .marRight10 { margin-right:10px; }
.marTop15 { margin-top:15px; } .marBottom15 { margin-bottom:15px; } .marLeft15 { margin-left:15px; } .marRight15 { margin-right:15px; }
.marTop20 { margin-top:20px; } .marBottom20 { margin-bottom:20px; } .marLeft20 { margin-left:20px; } .marRight20 { margin-right:20px; }
.marTop30 { margin-top:30px; } .marBottom30 { margin-bottom:30px; } .marLeft30 { margin-left:30px; } .marRight30 { margin-right:30px; }
.marTop40 { margin-top:40px; } .marBottom40 { margin-bottom:40px; } .marLeft40 { margin-left:40px; } .marRight40 { margin-right:40px; }
.marTop50 { margin-top:50px; } .marBottom50 { margin-bottom:50px; } .marLeft50 { margin-left:50px; } .marRight50 { margin-right:50px; }
.marTop60 { margin-top:60px; } .marBottom60 { margin-bottom:60px; } .marLeft60 { margin-left:60px; } .marRight60 { margin-right:60px; }
.marTop70 { margin-top:70px; } .marBottom70 { margin-bottom:70px; } .marLeft70 { margin-left:70px; } .marRight70 { margin-right:70px; }
.marTop80 { margin-top:80px; } .marBottom80 { margin-bottom:80px; } .marLeft80 { margin-left:80px; } .marRight80 { margin-right:80px; }
.marTop90 { margin-top:90px; } .marBottom90 { margin-bottom:90px; } .marLeft90 { margin-left:90px; } .marRight90 { margin-right:90px; }
.marTop100 { margin-top:100px; } .marBottom100 { margin-bottom:100px; } .marLeft100 { margin-left:100px; } .marRight100 { margin-right:100px; }


/*MARGIN & PADDING*/
.padXY100 { padding:100px; } .padXY90 { padding:90px; } .padXY80 { padding:80px; } .padXY70 { padding:70px; } .padXY60 { padding:60px; } .padXY50 { padding:50px; } .padXY40 { padding:40px; } .padXY30 { padding:30px; } .padXY20 { padding:20px; } .padXY10 { padding:10px; } .padXY15 { padding:15px; } .padXY5 { padding:5px; }

.padY100				{ padding-top:100px; padding-bottom:100px; }
.padY90					{ padding-top:90px; padding-bottom:90px; }
.padY80					{ padding-top:80px; padding-bottom:80px; }
.padY70					{ padding-top:70px; padding-bottom:70px; }
.padY60					{ padding-top:60px; padding-bottom:60px; }
.padY50					{ padding-top:50px; padding-bottom:50px; }
.padY40					{ padding-top:40px; padding-bottom:40px; }
.padY30					{ padding-top:30px; padding-bottom:30px; }
.padY20					{ padding-top:20px; padding-bottom:20px; }
.padY15					{ padding-top:15px; padding-bottom:15px; }
.padY10					{ padding-top:10px; padding-bottom:10px; }
.padY5					{ padding-top:5px; padding-bottom:5px; }

.padX100				{ padding-left:100px; padding-right:100px; }
.padX90					{ padding-left:90px; padding-right:90px; }
.padX80					{ padding-left:80px; padding-right:80px; }
.padX70					{ padding-left:70px; padding-right:70px; }
.padX60					{ padding-left:60px; padding-right:60px; }
.padX50					{ padding-left:50px; padding-right:50px; }
.padX40					{ padding-left:40px; padding-right:40px; }
.padX30					{ padding-left:30px; padding-right:30px; }
.padX20					{ padding-left:20px; padding-right:20px; }
.padX15					{ padding-left:15px; padding-right:15px; }
.padX10					{ padding-left:10px; padding-right:10px; }
.padX5					{ padding-left:5px; padding-right:5px; }

.pad0 { margin:0; } .padTop0 { padding-top:0; } .padBottom0 { padding-bottom:0; } .padLeft0 { padding-left:0; } .padRight0 { padding-right:0; }
.padTop5 { padding-top:5px; } .padBottom5 { padding-bottom:5px; } .padLeft5 { padding-left:5px; } .padRight5 { padding-right:5px; }
.padTop10 { padding-top:10px; } .padBottom10 { padding-bottom:10px; } .padLeft10 { padding-left:10px; } .padRight10 { padding-right:10px; }
.padTop15 { padding-top:15px; } .padBottom15 { padding-bottom:15px; } .padLeft15 { padding-left:15px; } .padRight15 { padding-right:15px; }
.padTop20 { padding-top:20px; } .padBottom20 { padding-bottom:20px; } .padLeft20 { padding-left:20px; } .padRight20 { padding-right:20px; }
.padTop30 { padding-top:30px; } .padBottom30 { padding-bottom:30px; } .padLeft30 { padding-left:30px; } .padRight30 { padding-right:30px; }
.padTop40 { padding-top:40px; } .padBottom40 { padding-bottom:40px; } .padLeft40 { padding-left:40px; } .padRight40 { padding-right:40px; }
.padTop50 { padding-top:50px; } .padBottom50 { padding-bottom:50px; } .padLeft50 { padding-left:50px; } .padRight50 { padding-right:50px; }
.padTop60 { padding-top:60px; } .padBottom60 { padding-bottom:60px; } .padLeft60 { padding-left:60px; } .padRight60 { padding-right:60px; }
.padTop70 { padding-top:70px; } .padBottom70 { padding-bottom:70px; } .padLeft70 { padding-left:70px; } .padRight70 { padding-right:70px; }
.padTop80 { padding-top:80px; } .padBottom80 { padding-bottom:80px; } .padLeft80 { padding-left:80px; } .padRight80 { padding-right:80px; }
.padTop90 { padding-top:90px; } .padBottom90 { padding-bottom:90px; } .padLeft90 { padding-left:90px; } .padRight90 { padding-right:90px; }
.padTop100 { padding-top:100px; } .padBottom100 { padding-bottom:100px; } .padLeft100 { padding-left:100px; } .padRight100 { padding-right:100px; }


/*SPACE*/ 
.space5					{ height: 5px; width: 100%; float: left; } .space_block5{ height: 5px; width: 100%; }
.space10				{ height: 10px; width: 100%; float: left; } .space_block10{ height: 10px; width: 100%; }
.space15				{ height: 15px; width: 100%; float: left; } .space_block15{ height: 15px; width: 100%; }
.space20				{ height: 20px; width: 100%; float: left; } .space_block20{ height: 20px; width: 100%; }
.space25				{ height: 25px; width: 100%; float: left; } .space_block25{ height: 25px; width: 100%; }
.space30				{ height: 30px; width: 100%; float: left; } .space_block30{ height: 30px; width: 100%; }
.space40				{ height: 40px; width: 100%; float: left; } .space_block40{ height: 40px; width: 100%; }
.space50				{ height: 50px; width: 100%; float: left; } .space_block50{ height: 50px; width: 100%; }
.space60				{ height: 60px; width: 100%; float: left; } .space_block60{ height: 60px; width: 100%; }
.space70				{ height: 70px; width: 100%; float: left; } .space_block70{ height: 70px; width: 100%; }
.space80				{ height: 80px; width: 100%; float: left; } .space_block80{ height: 80px; width: 100%; }
.space90				{ height: 90px; width: 100%; float: left; } .space_block90{ height: 90px; width: 100%; }
.space100				{ height: 100px; width: 100%; float: left; } .space_block100{ height: 100px; width: 100%; }



/*BUTTON BORDER*/
.button 				{ display:inline-block; margin:5px 0; }

input.button, button.button,
.button a				{ display:inline-block; padding:0 20px; line-height:40px; font-size:14px; font-weight:bold; text-align:center; cursor:pointer; 
						  border:1px solid rgba(0,0,0,0.2); box-shadow:inset 0 1px rgba(255,255,255,0.4); -moz-transition:0.3s; -webkit-transition:0.3s; transition:0.3s;
						  background-color:transparent; }
						  
.button_small{ } input.button.button_small, button.button.button_small, .button.button_small a { padding:0 10px; line-height:30px; font-size:13px; }
.button_large{} input.button.button_large, button.button.button_large, .button.button_large a { padding:0 25px; line-height:50px; font-size:15px; }


.button_border_dark{}
input.button.button_border_dark, button.button.button_border_dark, .button.button_border_dark a { background-color:rgba(55,53,54,0.1); border:2px solid #373536; color:#373536;  }
input.button.button_border_dark:hover, button.button.button_border_dark:hover, .button.button_border_dark:hover a { background-color:#373536; color:#fff;  }

.button_border_gray{}
input.button.button_border_gray, button.button.button_border_gray, .button.button_border_gray a { background-color:rgba(136,136,136,0.1); border:2px solid #888; color:#888;  }
input.button.button_border_gray:hover, button.button.button_border_gray:hover, .button.button_border_gray:hover a { background-color:#888; color:#fff;  }

.button_border_white{}
input.button.button_border_white, button.button.button_border_white, .button.button_border_white a { background-color:rgba(255,255,255,0.1); border:2px solid #fff; color:#fff;  }
input.button.button_border_white:hover, button.button.button_border_white:hover, .button.button_border_white:hover a { background-color:#333; color:#eee; border-color:#333;  }

.button_border_green{}
input.button.button_border_green, button.button.button_border_green, .button.button_border_green a { background-color:rgba(66,181,73,0.1); border:2px solid #42b549; color:#42b549;  }
input.button.button_border_green:hover, button.button.button_border_green:hover, .button.button_border_green:hover a { background-color:#42b549; color:#fff;  }

.button_border_red{}
input.button.button_border_red, button.button.button_border_red, .button.button_border_red a { background-color:rgba(255,64,65,0.1); border:2px solid #ff4041; color:#ff4041;  }
input.button.button_border_red:hover, button.button.button_border_red:hover, .button.button_border_red:hover a { background-color:#ff4041; color:#fff;  }

.button_border_gold{}
input.button.button_border_gold, button.button.button_border_gold, .button.button_border_gold a { background-color:rgba(218,156,60,0.1); border:2px solid #da9c3c; color:#da9c3c;  }
input.button.button_border_gold:hover, button.button.button_border_gold:hover, .button.button_border_gold:hover a { background-color:#da9c3c; color:#fff;  }

.button_border_blue{}
input.button.button_border_blue, button.button.button_border_blue, .button.button_border_blue a { background-color:rgba(76,114,211,0.1); border:2px solid #4c72d3; color:#4c72d3;  }
input.button.button_border_blue:hover, button.button.button_border_blue:hover, .button.button_border_blue:hover a { background-color:#4c72d3; color:#fff;  }

.button_border_azure{}
input.button.button_border_azure, button.button.button_border_azure, .button.button_border_azure a { background-color:rgba(35,191,212,0.1); border:2px solid #23bfd4; color:#23bfd4;  }
input.button.button_border_azure:hover, button.button.button_border_azure:hover, .button.button_border_azure:hover a { background-color:#23bfd4; color:#fff;  }

.button_border_purple{}
input.button.button_border_purple, button.button.button_border_purple, .button.button_border_purple a { background-color:rgba(108,35,87,0.1); border:2px solid #6c2357; color:#6c2357;  }
input.button.button_border_purple:hover, button.button.button_border_purple:hover, .button.button_border_purple:hover a { background-color:#6c2357; color:#fff;  }

.button_border_orange{}
input.button.button_border_orange, button.button.button_border_orange, .button.button_border_orange a { background-color:rgba(254,146,58,0.1); border:2px solid #fe923a; color:#fe923a;  }
input.button.button_border_orange:hover, button.button.button_border_orange:hover, .button.button_border_orange:hover a { background-color:#fe923a; color:#fff;  }


/*BUTTON BORDER*/
.button_bg_dark{}
input.button.button_bg_dark, button.button.button_bg_dark, .button.button_bg_dark a { background-color:#373536; color:#fff;  }
input.button.button_bg_dark:hover, button.button.button_bg_dark:hover, .button.button_bg_dark:hover a { background-color:#373536; color:#373536;  }

.button_bg_gray{}
input.button.button_bg_gray, button.button.button_bg_gray, .button.button_bg_gray a { background-color:#888; color:#fff;  }
input.button.button_bg_gray:hover, button.button.button_bg_gray:hover, .button.button_bg_gray:hover a { background-color:#333; color:#888; }

.button_bg_white{}
input.button.button_bg_white, button.button.button_bg_white, .button.button_bg_white a { background-color:#fff; color:#666;  }
input.button.button_bg_white:hover, button.button.button_bg_white:hover, .button.button_bg_white:hover a { background-color:#333; color:#eee;  }

.button_bg_green{}
input.button.button_bg_green, button.button.button_bg_green, .button.button_bg_green a { background-color:#42b549; color:#fff;  }
input.button.button_bg_green:hover, button.button.button_bg_green:hover, .button.button_bg_green:hover a { background-color:#333; color:#42b549;  }

.button_bg_red{}
input.button.button_bg_red, button.button.button_bg_red, .button.button_bg_red a { background-color:#ff4041; color:#fff;  }
input.button.button_bg_red:hover, button.button.button_bg_red:hover, .button.button_bg_red:hover a { background-color:#333; color:#ff4041;  }

.button_bg_gold{}
input.button.button_bg_gold, button.button.button_bg_gold, .button.button_bg_gold a { background-color:#da9c3c; color:#fff;  }
input.button.button_bg_gold:hover, button.button.button_bg_gold:hover, .button.button_bg_gold:hover a { background-color:#333; color:#da9c3c;  }

.button_bg_blue{}
input.button.button_bg_blue, button.button.button_bg_blue, .button.button_bg_blue a { background-color:#4c72d3; color:#fff;  }
input.button.button_bg_blue:hover, button.button.button_bg_blue:hover, .button.button_bg_blue:hover a { background-color:#333; color:#4c72d3;  }

.button_bg_azure{}
input.button.button_bg_azure, button.button.button_bg_azure, .button.button_bg_azure a { background-color:#23bfd4; color:#fff;  }
input.button.button_bg_azure:hover, button.button.button_bg_azure:hover, .button.button_bg_azure:hover a { background-color:#333; color:#23bfd4;  }

.button_bg_purple{}
input.button.button_bg_purple, button.button.button_bg_purple, .button.button_bg_purple a { background-color:#6c2357; color:#fff;  }
input.button.button_bg_purple:hover, button.button.button_bg_purple:hover, .button.button_bg_purple:hover a { background-color:#333; color:#6c2357;  }

.button_bg_orange{}
input.button.button_bg_orange, button.button.button_bg_orange, .button.button_bg_orange a { background-color:#fe923a; color:#fff;  }
input.button.button_bg_orange:hover, button.button.button_bg_orange:hover, .button.button_bg_orange:hover a { background-color:#333; color:#fe923a;  }

input.button:hover,
button.button:hover,
.button:hover a			{  }



/*COLOR*/
.color_black			{ color:#000000; }
.color_dark				{ color:#444444; }
.color_gray				{ color:#aaaaaa; }
.color_white			{ color:#ffffff; }
.color_transparentLight	{ color:#d7e6d7; color:rgba(255,255,255,0.7); }
.color_transparentDark	{ color:#686868; color:rgba(40,40,40,40.0.7); }
.color_green			{ color:#42b549; }
.color_red				{ color:#ff4041; }
.color_gold				{ color:#da9c3c; }
.color_orange			{ color:#fe923a; }
.color_blue				{ color:#4c72d3; }
.color_azure			{ color:#23bfd4; }
.color_purple			{ color:#6c2357; }
.color_purpleLight		{ color:#9d4c87; }


/*BORDER*/
.border_white, .border_white td, .border_white th{ border: 1px solid #ffffff !important;}
.border_gray, .border_gray td, .border_gray th{ border: 1px solid #cccccc !important; }
.border_green, .border_green td, .border_green th{ border: 1px solid #42b549; }
.border_red, .border_red td, .border_red th{ border: 1px solid #ff4041; }
.border_gold, .border_gold td, .border_gold th{ border: 1px solid #da9c3c; }
.border_orange, .border_orange td, .border_orange th{ border: 1px solid #fe923a; }
.border_blue, .border_blue td, .border_blue th{ border: 1px solid #4c72d3; }
.border_azure, .border_azure td, .border_azure th{ border: 1px solid #23bfd4; }
.border_purple, .border_purple td, .border_purple th{ border: 1px solid #6c2357; }
.border_purpleLight, .border_purpleLight td, .border_purpleLight th{ border: 1px solid #9d4c87; }

.border_top_white		{ border-top: 1px solid #ffffff !important; }
.border_top_grey		{ border-top: 1px solid #cccccc !important; }
.border_top_green		{ border-top: 1px solid #42b549 !important; }
.border_top_red			{ border-top: 1px solid #ff4041 !important; }
.border_top_gold		{ border-top: 1px solid #da9c3c !important; }
.border_top_orange		{ border-top: 1px solid #fe923a !important; }
.border_top_blue		{ border-top: 1px solid #4c72d3 !important; }
.border_top_azure		{ border-top: 1px solid #23bfd4 !important; }
.border_top_purple		{ border-top: 1px solid #6c2357 !important; }
.border_top_purpleLight	{ border-top: 1px solid #9d4c87 !important; }

.border_bottom_white	{ border-bottom: 1px solid #ffffff !important; }
.border_bottom_grey		{ border-bottom: 1px solid #cccccc !important; }
.border_bottom_green	{ border-bottom: 1px solid #42b549 !important; }
.border_bottom_red		{ border-bottom: 1px solid #ff4041 !important; }
.border_bottom_gold		{ border-bottom: 1px solid #da9c3c !important; }
.border_bottom_orange	{ border-bottom: 1px solid #fe923a !important; }
.border_bottom_blue		{ border-bottom: 1px solid #4c72d3 !important; }
.border_bottom_azure	{ border-bottom: 1px solid #23bfd4 !important; }
.border_bottom_purple	{ border-bottom: 1px solid #6c2357 !important; }
.border_bottom_purpleLight{ border-bottom: 1px solid #9d4c87 !important; }

.border_left_white		{ border-left: 1px solid #ffffff !important; }
.border_left_grey		{ border-left: 1px solid #cccccc !important; }
.border_left_green		{ border-left: 1px solid #42b549 !important; }
.border_left_red		{ border-left: 1px solid #ff4041 !important; }
.border_left_gold		{ border-left: 1px solid #da9c3c !important; }
.border_left_orange		{ border-left: 1px solid #fe923a !important; }
.border_left_blue		{ border-left: 1px solid #4c72d3 !important; }
.border_left_azure		{ border-left: 1px solid #23bfd4 !important; }
.border_left_purple		{ border-left: 1px solid #6c2357 !important; }
.border_left_purpleLight{ border-left: 1px solid #9d4c87 !important; }

.border_right_white		{ border-right: 1px solid #ffffff !important; }
.border_right_grey		{ border-right: 1px solid #cccccc !important; }
.border_right_green		{ border-right: 1px solid #42b549 !important; }
.border_right_red		{ border-right: 1px solid #ff4041 !important; }
.border_right_gold		{ border-right: 1px solid #da9c3c !important; }
.border_right_orange	{ border-right: 1px solid #fe923a !important; }
.border_right_blue		{ border-right: 1px solid #4c72d3 !important; }
.border_right_azure		{ border-right: 1px solid #23bfd4 !important; }
.border_right_purple	{ border-right: 1px solid #6c2357 !important; }
.border_right_purpleLight{ border-right: 1px solid #9d4c87 !important; }



/*TEXT*/
.text_align_justify		{ text-align:justify; }
.text_align_center		{ text-align:center; }
.text_align_left		{ text-align:left; }
.text_align_right		{ text-align:right; }

.text_transform_uppercase	{ text-transform:uppercase; }

.text_shadowLight		{ text-shadow: 0px 1px 0px rgba(255,255,255,0.7); }
.text_shadowDark		{ text-shadow: 0px 1px 0px rgba(0,0,0,0.3); }


.display_block			{ display:block; }
.display_inlineBlock	{ display:inline-block; }

.max_width100			{ max-width:100%; }
.max_height100			{ max-height:100%; }


.fLeft				{ float:left; }
.fRight				{ float:right; }
.imgWidht40			{ width:40%; }
.fLeft.imgWidht40	{ margin:0 15px 15px 0; }
.fRight.imgWidht40	{ margin:0 0 15px 15px; }



/*-------------------------------------------------------------{ Legality }-----------------------------------------------------------------------*/
.legality_style			{ margin:0 auto; padding:25px; max-width:960px; background:url(../img/frontend/legality_pattern.png) repeat left top;
						  text-align:left; }						  
.legality_style fieldset	{ padding:50px 10px; background:#f9f9f9 url(../img/frontend/pattern_bg2.png); border:3px solid rgba(0,0,0,0.3);
							  box-shadow:inset 0 0 0 4px #fff, inset 0 0 0 5px rgba(0,0,0,0.3),inset 0 0 0 6px #fff, inset 0 0 0 7px rgba(0,0,0,0.3); }
.legality_style legend		{ padding:0 10px; font-weight:bold; color:#777; border:1px solid rgba(0,0,0,0.1); border-radius:3px; }
.legality_style .row		{ margin:0; padding:15px; -moz-transition:0.5s; -webkit-transition:0.5s; transition:0.5s; }
.legality_style .row:nth-of-type(odd)	{ background:rgba(255,255,255,0.5); }
.legality_style .row:hover	{ background:rgba(255,255,255,1); }
.legality_style label		{ display:block; float:left; width:28%; text-align:right; background:; }
.legality_style span		{ display:block; margin-left:29%; font-size:14px; font-weight:bold; background:; }
.legality_style span a		{ float:right; background:; }
.legality_style span i		{ font-size:20px; }



/*-------------------------------------------------------------{ gallery_box }---------------------------------------------------------------------*/
.gallery_box				{ position:relative; height:230px; background:; }
.gallery_box ul				{ position:relative; margin:0; padding:0; list-style:none; }
.gallery_box li				{ margin:0; padding:15px 0; font-size:12px; border-bottom:1px dashed rgba(0,0,0,0.2); }
.gallery_box li .img		{ float:left; width:100px; height:80px; background:#ddd; overflow:hidden; }
.gallery_box li .img img	{ width:100%; height:100%; }
.gallery_box li .desc		{ padding:0 0 0 10px; overflow:hidden; }
.gallery_box li .desc h5	{ margin-bottom:0; padding:0; font-size:13px; height:25px; overflow:hidden; text-transform:uppercase; }
.gallery_box li .desc p		{ margin-bottom:0; line-height:16px; height:35px; overflow:hidden; background:; }
.gallery_box li .desc span	{ display:block; line-height:normal; }




.gallery_cont				{ text-align:center; }
.gallery_cont .box			{ position:relative; margin:10px; padding:0; height:; border:5px solid #fff; overflow:hidden; /*box-shadow:0 3px 5px rgba(0,0,0,0.1); border-radius:5px; */
							  -moz-transition:0.3s; -webkit-transition:0.3s; transition:0.3s; }
/*.gallery_cont .box .img		{ height:200px; }*/
.gallery_cont .box img		{ width:100%; height:100%; opacity:1; z-index:2; -moz-transition:0.5s; -webkit-transition:0.5s; transition:0.5s; }
.gallery_cont .box:hover img{ opacity:0.5; z-index:1; -moz-transform:scale(2) rotate(10deg); -webkit-transform:scale(2) rotate(10deg); transform:scale(2) rotate(10deg); }
.gallery_cont .box:hover	{ border-color:#fe923a; }

.gallery_cont .box .preview	{ position:absolute; left:0; top:0; right:0; bottom:0; padding:10px; color:#fff; background:rgba(0,0,0,0.6); opacity:0; z-index:1; 
							 overflow:hidden; -moz-transition:0.3s; -webkit-transition:0.3s; transition:0.3s; }
.gallery_cont .box:hover .preview	{ opacity:2; z-index:1; border-radius:5px; -moz-transform:scale(0.9); -webkit-transform:scale(0.9); transform:scale(0.9); }
.gallery_cont .box .preview h6	{ margin:0 0 15px 0; padding:5px; color:#98c93b; font-size:17px; max-height:20px; border-bottom:1px solid #fff; overflow:hidden; font-size:17px; }
.gallery_cont .box .preview p	{ margin:0 0 10px 0; padding:0; height:60px; line-height:normal; overflow:hidden; background:; }

.gallery_cont .box.photo_bg		{ background:#eee; -moz-transition:0.3s; -webkit-transition:0.3s; transition:0.3s; }
.gallery_cont .box.photo_bg:hover	{ box-shadow:0 2px 3px rgba(0,0,0,0.1); -moz-transform:scale(1.05); -webkit-transform:scale(1.05); 
									  transform:scale(1.05); }
.gallery_cont .box.photo_bg:hover img	{ opacity:1; z-index:1; -moz-transform:scale(1.5) rotate(10deg); -webkit-transform:scale(1.5) rotate(10deg); 
										  transform:scale(1.5) rotate(10deg); }
.gallery_cont .title		{ margin:0 10px; height:35px; text-align:center; line-height:17px; overflow:hidden; background:; }



/*---------------------------------------------------------------{ video }-------------------------------------------------------------------------*/
.video_cont				{ }
.video_cont .box		{ position:relative; margin:10px 10px 0 10px; padding:5px; height:250px; border:1px solid #ddd; background:#fff; 
						  -moz-transition:0.3s; -webkit-transition:0.3s; transition:0.3s; }
.video_cont .box:hover	{ background-color:; z-index:100; }
.video_cont .box img	{ width:100%; height:100%; }

.video_cont .box .covZom{ position:absolute; left:5%; top:20%; width:90%; height:55%; z-index:100; }
.video_cont .box .covZom a	{ display:block; width:100%; height:100%; background:none; }

.video_cont .vc_title	{ margin:0 10px 15px 10px; position:relative; padding:10px 5px; line-height:20px; font-weight:normal; text-align:center; text-transform:uppercase; 
						  background:#f3f3f4; border-radius:0 0 4px 4px; box-shadow:0 0 0 1px rgba(0,0,0,0.1); }
.video_cont .vc_title span	{ display:block; height:20px; overflow:hidden; }

.video_box				{ position:relative; height:330px; margin-bottom:20px; background:#ddd; border:5px solid #f9f9f9; }
.video_box:after		{ content:''; position:absolute; left:0; right:0; bottom:-35px; height:30px; background:url(../img/frontend/video_box_after.png); background-size:100% 100%; }



/*----------------------------------------------------------------{ tabs }--------------------------------------------------------------------------*/
ul.tabs_prod			{ margin:0; padding:20px 20px 0 20px; list-style:none; background:#f9f9f9; border-bottom:0px solid #fcb758; }
ul.tabs_prod li			{ position:relative; display:inline-block; margin:2px 1px; padding:15px 40px; cursor:pointer; color:#555; text-align:center; border:1px solid rgba(0,0,0,0.2); border-radius:2px;
						  font-size:20px; font-weight:; background:#fff; -moz-transition:0.2s; -webkit-transition:0.2s; transition:0.2s; }
ul.tabs_prod li			{ float:left; margin:0 -1px -1px 0; padding:20px; width:; z-index:100; }
ul.tabs_prod li:hover	{ color:#5aba47; box-shadow:inset 0 0 0 50px rgba(255,255,255,1); }
ul.tabs_prod li.active	{ color:#5aba47; cursor:default; background:#fff; border-bottom-color:#fff; }
ul.tabs_prod li.active:hover{ box-shadow:inset 0 0 0 50px rgba(255,255,255,0.2);  }

ul.tabs_prod ~ .tabs_cont		{ margin:0; padding:30px 20px; min-height:400px; border:none; border-top:1px solid rgba(0,0,0,0.2); }
ul.tabs_prod ~ .tabs_cont h3	{ font-size:20px; position:relative; }
ul.tabs_prod ~ .tabs_cont ol,
ul.tabs_prod ~ .tabs_cont ul	{ margin:0 0 20px 30px; line-height:25px; }



/*----------------------------------------------------------------{ faq }-------------------------------------------------------------------------*/
.faq_cont .faq_title	{ position:relative; margin:10px 0; padding:0; color:#666; font-size:20px; font-weight:normal; border:1px solid rgba(0,0,0,0.2); 
						  cursor:pointer; -moz-transition:0.5s; -webkit-transition:0.5s; transition:0.5s; background:rgba(255,255,255,0.5); text-shadow:0 1px rgba(255,255,255,0.5); }
.faq_cont .faq_title:hover	{ background-color:#f9f9f9; }
.faq_cont .openheader		{ color:#555; background-color:#f9f9f9; }
.faq_cont .faq_title span	{ display:block; padding:20px 10px 20px 40px; background:; }
.faq_cont .faq_title:before	{ font-family: 'FontAwesome'; content:'\f067'; position:absolute; left:10px; top:25px; line-height:20px; }
.faq_cont .openheader:before{ content:'\f068'; }
.faq_cont .faq_box		{ position:relative; margin:-11px 0 10px 0; padding:30px 20px; border:1px solid rgba(0,0,0,0.2); background:rgba(255,255,255,0.4); }



/*---------------------------------------------------------------{ table }-------------------------------------------------------------------------*/
.table					{ margin:0 0 15px 0; padding:0px; width:100%; font-size:; font-weight:normal; border-collapse:collapse; }
.table th				{ padding:10px 10px; font-family:"Oswald", Tahoma; color:#555; text-shadow:0 1px rgba(255,255,255,0.2);
						  text-transform: uppercase; font-weight:500; border:1px solid rgba(0,0,0,0.2); text-align:center; 
						  box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,0.4); background:#eee; 
						  background:-moz-linear-gradient(top, #ddd,#eee,#ddd);
						  background:-webkit-linear-gradient(top, #ddd,#eee,#ddd);/**/ }
.table td				{ padding:10px 10px; border:1px solid rgba(0,0,0,0.1); font-weight:; }
.table tr					{ background:#fff; -moz-transition:0.2s; -webkit-transition:0.2s; transition:0.2s; }
.table tr:nth-of-type(even)	{ background:#fdfdfd; } 
.table tr:hover				{ background:#fff; color:#444; box-shadow:inset 0 1px rgba(255,255,255,0.5); }

.table td h3			{ margin-bottom:5px; font-size:14px; color:#666; }
.table td a				{ color:; }

.responsive{}

@media only screen and (min-width: 0px) and (max-width: 767px) {
	.table.responsive, .table.responsive thead, .table.responsive.responsive tbody, .table.responsive th, .table.responsive td, .table.responsive tr { display: block; }
	.table.responsive thead tr 		{ position: absolute; top: -9999px; left: -9999px; } 
	.table.responsive tr			{ border: 1px solid rgba(0,0,0,0.1); border-bottom:0px; margin-bottom:5px; } 
	.table.responsive td			{ border: none; border-bottom: 1px solid rgba(0,0,0,0.1); position: relative; padding-left:42%; text-align:left; } 
	
	.table.responsive td:before		{ position: absolute; top:7px; left:10px; width:39%; color:#555; white-space:nowrap; font-weight:bold; }
	.table.responsive td:before		{ content: attr(data-title); }
	.table.responsive td:after		{ content:':'; position:absolute; top:7px; left:39%; }
	.table.responsive tr:hover td:before	{ color:#444; }
	
	
	.table.responsive.event_table td		{ padding-left:100px; } 
	
	.table.responsive.event_table td:before{ width:100px; font-weight:bold; }
}


/*------------------------------------------------------------{ Form }-----------------------------------------------------------------------*/
.form_style				{ background:; }
.form_style .list		{ padding:5px 0; }
.form_style .list:nth-of-type(even){ background:; }
.form_style .list label		{ float:; width:; display:block; margin-bottom:5px; line-height:; font-size:12px; font-weight:bold; background:; }
.form_style .list span label{ font-weight:normal; }
.form_style .list span.sput	{ line-height:35px; background:; }
.form_style .list span.spot	{ line-height:13px; background:; }
.form_style .list span textarea,
.form_style .list span input		{ width:100%; padding:0; height:35px; color:#888; font-size:13px; text-indent:10px; border:1px solid rgba(0,0,0,0.3); border-top:1px solid rgba(0,0,0,0.3); }
.form_style .list span textarea:hover,
.form_style .list span input:hover	{ color:#555; border-color:rgba(0,0,0,0.4); box-shadow:inset 0 1px 2px rgba(0,0,0,0.1); }
.form_style .list span textarea:focus,
.form_style .list span input:focus	{ color:#555; border-color:rgba(0,0,0,0.4); box-shadow:inset 0 1px 2px rgba(0,0,0,0.1); }
.form_style .list span select		{ padding:0; height:25px; color:#888; font-size:13px; border:1px solid rgba(0,0,0,0.2); border-top:1px solid rgba(0,0,0,0.3); }
.form_style .list span textarea		{ width:100%; height:100px; padding:5px 0; font-family:Open Sans, Arial; }
.form_style .list span .textError	{ font-size:12px; color:red; }
.form_style .list span .textError p	{ margin:0; line-height:normal; }

.form_style .list label[for=email] ~ span input{ text-align:right; }/**/

.form_style .list span .intl-tel-input input { position: relative; padding-left:45px; width:98%; height:30px; z-index: 0; }

.form_style .list .button	{ float:; }

.form_style .list .SlectBox	{ width:100%; height:35px; line-height:35px; color:#555; text-indent:10px; }
.form_style .list .SumoSelect > .CaptionCont		{ border-color:rgba(0,0,0,0.3); }
.form_style .list .SumoSelect > .CaptionCont > label { width:30px; height:35px; border-left:none; box-shadow:none; }
.form_style .list .SumoSelect > .optWrapper.open	{ top:37px; }
.form_style .list .SumoSelect > .optWrapper 		{ top:30px; line-height:normal; }

@media(max-width: 767px){ 
.form_style .list label		{ float:none; width:auto; line-height:normal; }
.form_style .list span.sput	{ margin-left:0; line-height:normal; }
}
@media(max-width: 460px){
.form_style				{ padding:; }
}




/*---------------------------------------------------------------{ pagination }---------------------------------------------------------------------*/
.pagiNation				{ margin:0; padding:30px 0; line-height:30px; text-align:center; font-family:'Gotham', Arial; font-size:11px; }
.pagiNation span		{ display:inline-block; margin:2px; padding:0; color:#aaa; font-weight:bold; border:1px solid #ddd; border-radius:2px; 
						  background:#f8f8f8; -moz-transition:0.3s; -webkit-transition:0.3s; transition:0.3s; }
.pagiNation span:hover	{ box-shadow:inset 0 0 5px 20px #5bb947; border-color:#5bb947; color:#fff; }
.pagiNation span.ui-state-disabled,
.pagiNation span.active	{ padding:0 13px; color:#fff; text-shadow:0 1px 0 rgba(255,255,255,0.15); background:#5bb947; box-shadow:none; 
						  border-color:#5bb947; }
.pagiNation span.active:hover	{ box-shadow:inset 0 0 5px 20px #fff; border-color:#5bb947; color:#5bb947; }
.pagiNation span a		{ display:block; margin:0; padding:0 13px; color:#aaa; }
.pagiNation span a:hover{ color:#fff; text-decoration:none; text-shadow:none; }
.pagiNation span:active a	{ color:#fff; text-shadow:0 1px 0 rgba(0,0,0,0.2); }


.sequence				{ margin:0 0 10px 0; padding:5px 10px 15px 10px; font-size:13px; text-align:center; }
.sequence label			{ display:inline-block; color:#777; }
.sequence span			{ display:inline-block; }
.sequence span a		{ color:#ff4041; }
.sequence span.active a,
.sequence span.active	{ color:#1183d4; }

.seqDiv					{ position:relative; display:inline-block; padding:0 10px; text-align:left; }
.seqDiv select			{ height:33px; cursor:pointer; border:1px solid #ccc; }
.seqDiv span.img		{ display:inline-block; margin:0 2px; padding:5px; vertical-align:middle; border:1px solid #ccc; background:#fff; -moz-transition:0.3s; 
						  -webkit-transition:0.3s; transition:0.3s; }
.seqDiv span.img:hover	{ border:1px solid #ff4041; }
.seqDiv span.img.active	{ border:1px solid #ccc; box-shadow:inset 0 0 0 1px #ccc; opacity:0.4; }

.seqCompare				{ display:inline-block; line-height:33px; }
.seqCompare a			{ display:block; padding:0 15px 0 30px; color:#888; text-decoration:none; border:1px solid #ccc; border-radius:3px;
						  background:#fff url(../img/frontend/compare_icon.png) no-repeat 10px center; -moz-transition:0.3s; -webkit-transition:0.3s; 
						  transition:0.3s; }
.seqCompare:hover a		{ color:#ff4041; border-color:#ff4041; }


/*SPINNER*/
.spinner				{ display:inline-block; height:35px; width:auto; overflow: hidden; *zoom:1; }

.spinner button,
.spinner .value			{ float: left; display: block; margin: 0;height: 100%; line-height: 35px; text-align: center; }
.spinner button 		{ padding: 0; width: 30px; color: #fff; font-size: 15px; border: none; outline: none; text-shadow:0 1px rgba(0,0,0,0.2); }
.spinner button:active	{ background:#bfdf80; }

.spinner .decrease		{ background:#ff4041; cursor: pointer; }
.spinner .decrease[disabled]{ color: #aaa; cursor: default; background:#ddd; text-shadow:0 1px rgba(255,255,255,0.5); }
.spinner .increase		{ cursor: pointer;background:#ff4041; }
.spinner .value			{ margin:0 2px; padding: 0px; width: 55px; height: 33px; color: #666; font-size:14px; background:#fff; border:1px solid #ccc; }
.spinner .value.passive	{ color: #919191; background:#f5f5f5; }
.spinner .error,
.spinner .invalid		{ background: #aa0000; }


/*numbering*/
.numbering ol			{ margin:0 0 20px 28px; counter-reset:section; list-style-type: none; line-height:30px }
.numbering ol ol		{ margin:0 0 10px 40px; }
.numbering ol ol ol		{ margin:0 0 10px 55px; }
.numbering ol ol ol ol	{ margin:0 0 10px 65px; }
.numbering ol li		{ counter-increment: section; position:relative; }
.numbering ol li:before			{ content: counters(section, ".") ". "; position:absolute; text-align:right; left:-28px; width:20px; }
.numbering ol li li:before			{ left:-40px; width:30px; }
.numbering ol li li li:before		{ left:-55px; width:45px; }
.numbering ol li li li li:before	{ left:-65px; width:55px; }
.numbering ol.no-style			{ margin:0 0 10px 0; }
.numbering li.no-style:before	{ display:none; }
.numbering ul li:before		{ display:none; }



.position_relative		{ position:relative; }
.position_absolute		{ position:absolute; }


.overflow_hidden		{ overflow:hidden; }

@media(max-width: 900px){
.responsive_display_none{ display:none; }
}

