

@media(max-width: 1200px)	{
.wrap						{ width:97%; }
.wrap100					{ width:97%; }

#menu li a					{ padding:0 33px; }


}


@media(max-width: 1042px)	{
#menu li a					{ padding:0 2.5vw; }

.merchant_cont .col-1-4		{ width:33.33%; }
}


@media(max-width: 1000px)	{
#banner						{ height:; }

.sidebar					{ width:300px; }

}


@media(max-width: 959px)	{
#banner						{ height:; }

.sidebar					{ width:280px; }

.rewards_cont .img_rewards		{ margin-right:20px; width:405px; height:302px; }
.rewards_cont .img_rewards .img_large		{ margin-right:10px; width:300px; height:300px; }
.rewards_cont .img_rewards .img_thumb		{ margin-bottom:13px; width:90px; height:90px; }

.rewards_cont .desc_rewards h3	{ font-size:25px; }
.rewards_cont .desc_rewards ul li label	{ width:130px; }
.rewards_cont .desc_rewards .button		{ max-width:none; }
.rewards_cont .desc_rewards .button a	{ padding:15px; font-size:5vw; }

.voucher_cont .list .voucher		{ width:150px; }
.voucher_cont .list .voucher .img	{ height:100px; }
.voucher_cont .list .button_voucher h3	{ margin-top:80px; }

}


@media(max-width: 900px)	{
#header_top					{ display:none; }
#header						{ min-height:0px; }
#header .wrap				{ width:100%; background:; }
.logo						{ float:none; margin:auto; padding:15px 0; width:115px; font-size:30px; text-align:center; background:; }
.logo img					{ max-height:40px; }

ul.head_menu				{ position:absolute; right:0; top:0; width:60px; overflow:hidden; background:; }
ul.head_menu li.member,
ul.head_menu li.getapp		{ display:none; }
ul.head_menu li.cart ul		{ display:none; }
ul.head_menu li a			{ padding:0 20px 0 60px; }

#navigation					{ float:none; border:none; height:2px; background:#eee; }
#menu 						{ display:none; } 
#menu_responsive			{ display:block; background:; }
.ma-infinitypush-wrapper	{ display:block; }

.sidebar					{ float:none; width:auto; }

.merchant_cont .col-1-4		{ width:50%; }

.voucher_cont .list .button_voucher h3	{ font-size:20px; }
.voucher_cont .list .pita				{ font-size:14px; }
.voucher_cont .list .button_voucher .price	{ font-size:20px; }

}


@media(max-width: 830px)	{
.menu_merchant .box			{ float:none; display:inline-block; margin:5px 2px; padding:10px; background:#fff; border:1px solid rgba(0,0,0,0.1); }
.menu_merchant .box .icon	{ width:50px; height:50px; }
.menu_merchant .box .title	{ display:none; }
.menu_merchant .box:before	{ display:none; }

}


@media(max-width: 767px)	{	  
#header_top	.leftCont		{ display:; }
#header_top	.leftCont span	{ margin-right:5px; padding:0; width:16px; height:16px; text-align:center; overflow:hidden; background:; }
#header_top	.leftCont span:nth-of-type(1),
#header_top	.leftCont span:nth-of-type(2)	{ width:auto; }
#header_top	.leftCont span i{ font-size:16px; }
#header_top	.rightCont		{ float:; text-align:; }
#banner						{ height:; }

.fLeft,
.fRight						{ float:none; }
.imgWidht40					{ width:auto; }
.fLeft.imgWidht40,
.fRight.imgWidht40			{ margin:0 0 15px 0; }

.merchant_cont .col-1-4		{ width:100%; }
.banner_outlet				{ height:auto; }
.merchant_description			{ position:relative; text-align:center; }
.merchant_description .wrap		{ padding:40px 0; }
.merchant_description .img		{ float:none; display:inline-block; }
.merchant_description .title	{ padding:10px 0; }
.merchant_description .rating	{ float:none; text-align:center; }

.voucher_cont .list .preview_voucher	{ float:none; padding:50px 0 30px 0; width:auto; text-align:center; box-shadow:inset 0 -1px rgba(0,0,0,0.2); }
.voucher_cont .list .voucher			{ margin:5px; }
.voucher_cont .list .button_voucher		{ position:static; float:none; width:auto; }
.voucher_cont .list .button_voucher h3	{ margin-top:0; font-size:30px; }
.voucher_cont .list .button_voucher .price	{ margin-top:0; font-size:35px; }

.rewards_cont .img_rewards		{ float:none; margin:20px auto; }
.rewards_cont .desc_rewards		{ padding:10px 0; text-align:center; }
.rewards_cont .desc_rewards ul li label	{ width:auto; }
.rewards_cont .desc_rewards .button a	{ font-size:40px; }

.get_app_wrap				{ display:none; }


.cart_list .list			{ padding:20px; text-align:center; }
.cart_list .list .img		{ float:none; display:inline-block; }
.cart_list .list .desc		{ padding:10px 0; }
.cart_list .list .desc .dInfo		{ float:none; }
.cart_list .list .desc .dInfo label	{ width:auto; }
.cart_list .list .desc .dPrice		{ text-align:center; }
.cart_list .list .desc .dPrice span.remove{ display:block; margin:10px auto; padding:5px; width:25px; }
.cart_list .list_total		{ text-align:center; }


.footer_content				{ display:none; }
.f_link h3					{ display:inline-block; }
#footer						{ text-align:center; }
#footer .col-1-4:nth-child(2),
#footer .col-1-4:nth-child(3)	{ display:none; }
#footer .button_mail		{ margin:auto; max-width:250px; }

.ornamentBg:after,
.ornamentBg:before			{ display:none; }

}


@media(max-width: 560px)	{
#maps_box					{ height:300px; }

ul.tabs_prod				{ padding-bottom:10px; }
ul.tabs_prod li				{ float:none; display:block; margin:0 0 5px 0; padding:10px 0; }
ul.tabs_prod li.active		{ border-bottom-color:rgba(0,0,0,0.2); }
}


@media(max-width: 460px)	{
#header_top	.leftCont span:nth-of-type(3),
#header_top	.leftCont span:nth-of-type(4),
#header_top	.leftCont span:nth-of-type(5){ display:none; }

.voucher_cont .list					{ margin-bottom:30px; }
.voucher_cont .list .voucher		{ margin:5px 0; width:250px; }
.voucher_cont .list .voucher .img	{ height:150px; }

.rewards_cont .img_rewards		{ width:auto; height:auto; text-align:center; }
.rewards_cont .img_rewards .img_large		{ float:none; margin:0 0 5px 0; width:auto; height:auto; }
.rewards_cont .img_rewards .img_large img	{ width:100%; height:auto; }
.rewards_cont .img_rewards .img_thumb		{ margin:0.8vw; width:25vw; height:25vw; }

.rewards_cont .desc_rewards		{ padding:10px 0; text-align:center; background:; }
.rewards_cont .desc_rewards ul li label	{ width:auto; }

.footer_top					{ padding:20px 0; height:auto; text-align:center; }
.footer_top	.sosmed			{ float:none; padding:5px 0;}
.footer_top	.pay_using		{ float:none; padding:0;}

}









