*{
	font-size: 14px;
}
body {
    background: #242424;
    color: #fff;
}
.login-box {
    margin: 200px auto 25px;
    background: rgb(41, 62, 46);
    border: 7px solid #69aa46;
    padding: 30px;
}
i.fa {
    width: 10px;
}
.validation-notif{
	padding: 0 15px;
}
.registration{
	background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.2);
    border: 10px solid #2d2c2c;
    margin-top: 10px;
}

@media screen and (min-width: 768px){
    .login-box{
        width: 45%;
    }
}
@media screen and (min-width: 1024px){
    .login-box{
        width: 28%;
    }
}
@media screen and (min-width: 1440px){
    .login-box{
        width: 25%;
    }
}