*{
	font-size: 14px;
}
body {
    background: #242424;
    color: #fff;
}
.login-box {
    margin: 200px auto 25px;
    /*width: 400px;*/
    border: 7px solid #fb85f7;
    padding: 30px;
}
i.fa {
    width: 10px;
}
.validation-notif{
	padding: 0 15px;
}

@media screen and (min-width: 768px){
	.login-box{
		width: 45%;
	}
}
@media screen and (min-width: 1024px){
	.login-box{
		width: 28%;
	}
}
@media screen and (min-width: 1440px){
	.login-box{
		width: 25%;
	}
}