input[type=file]{
	margin-top: 5px;
}
a.addon-link{
	padding: 3px;
}
.ui-datepicker.ui-widget{
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
	/*z-index: 1151 !important;*/
}
.modal-body{
	max-height: 700px;
	overflow: hidden;
	overflow-y:auto;
}

/*
* -------------------------------------------------------------------------------------------------------------- *
* ALERT
* -------------------------------------------------------------------------------------------------------------- *
*/
.sweet-alert input{
    display: none !important;
}
/*
* -------------------------------------------------------------------------------------------------------------- *
* FORM
* -------------------------------------------------------------------------------------------------------------- *
*/
.input-group{
	width: 100%;
}
.input-group.required input, 
.input-group.required select, 
.input-group.required textarea, 
.input-group.required .drop-tree, 
.input-group.required .radio-group {
	border-left:5px solid #963737;
}
.radio-group {
    border: 1px solid #f7f7f7;
    padding-left: 10px;
    padding-bottom: 4px;
}
.radio-control {
    height: 35px;
    width: 20px;
    margin-top: -5px !important;
    margin-left: -25px !important;
}
#access_control {
    border-radius: 10px;
}
.control-group {
    border: 1px solid #999;
    border-radius: 10px;
    padding: 10px 3px 2px;
}
.row.space {
    border-bottom: 1px solid #f3f3f3;
    padding: 5px 0;
}
.row.space:nth-child(2n){
	background: #f3f3f3;	
}
.row.space:hover{
	background: #ddd;
}

input.checkall-control{
    margin: 10px 0 16px 0px;
}
.access-btn{
	margin: 20px 0;
}
.access-list .list-group-item{
	border: none;
}
.access-list .access-group label{
	margin-right: 14px;
	font-weight: normal;
}
.btn-drop {
    line-height: 18px;
}
.drop-tree, .drop-tree ul{
	list-style: none;
	padding-left: 15px;
}
.drop-tree {
    display: block;
    border: 1px solid #ccc;
    height: 32px;
    overflow: hidden; 
    overflow-y: hidden; 
    position: relative;
}
.drop-tree.active{
	overflow: visible;
}
ul.drop-tree-option {
    background: #fff;
    margin-left: -15px;
    margin-right: -1px;
    border: 1px solid #ccc;
    position: absolute;
    width: 100%;
    z-index: 3;
    padding-bottom: 10px;
    max-height: 120px;
    min-height: 30px;
    overflow: hidden;
}
.drop-tree.active .drop-tree-option{
    margin-top: 30px;
    overflow-y: auto;
    padding-left: inherit;
}
.option-item .radio.visible{
	padding-left: 0px;
}
.uploads-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.uploads-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-result {
    margin: 25px auto;
}
.image-result .list-group-item, .checkbox-group .list-group-item {
    display: inline-block;
    /*max-width: 200px;*/
    /*margin: 5px 4px;*/
}
/*.image-result .list-group-item img {
    height: 100%;
}*/
.checkbox-group .list-group-item.img-check {
    box-shadow: 0px 0px 15px #1a3d5c;
}
.checkbox-group .list-group-item img{
    height: 100%;
}
.checkbox-group .list-group-item{
	cursor: pointer;
	max-width:134px;
}
.disabled-form {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    left: 0;
    z-index: 3;
}

.ui-autocomplete{
    max-width: 100%;
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x:auto;
    font-size: 10px;
    white-space: nowrap;    
}
.select2{
    width: 100% !important;
}
.select2-selection__rendered{
    max-height: 28px;
}

/*
* PANEL
*/
.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
.clickable {
    cursor: pointer;
}
ul.voucher-list {
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow: hidden;
    overflow-y:auto; 
}
li.list-item {
    border: 1px solid #f3f3f3;
    padding: 5px;
    margin: 2px 0;
    cursor: pointer;
}
li.list-item:hover {
    background: #f3f3f3;
}
li.list-item.active{
    background: #dcdcdc;
}
ul.voucher-list.has-error {
    border: 1px solid #b14340;
}
.has-error{
    color: #b14340;
}
img.image-live-preview {
    max-width: 100%;
}
.form-accor .arrow{
    font:normal normal normal 14px/1 FontAwesome;
    float: right;
    color: #ccc;
}

.form-accor .arrow:before{
    content: "\f077";
}
.form-accor .collapsed .arrow:before{
    content: "\f078";
}